flows.json
[{"id":"97ad0127.f1ef9","type":"tab","label":"Alerts","disabled":false,"info":""},{"id":"47a03812.d50eb8","type":"tab","label":"Batteries","disabled":true,"info":""},{"id":"106227c8.38f8a8","type":"tab","label":"Brett's Room","disabled":false,"info":""},{"id":"d94b56bf.1ffec8","type":"tab","label":"Buttons","disabled":false,"info":""},{"id":"735ccac0.9545d4","type":"tab","label":"Doors","disabled":false,"info":""},{"id":"e4d970e8.28831","type":"tab","label":"Exhaust Fan","disabled":false,"info":""},{"id":"d2555e0f.679f1","type":"tab","label":"Fireplace","disabled":false,"info":""},{"id":"ed851188.a09fb","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"5665ccf3.114254","type":"tab","label":"HVAC","disabled":false,"info":"Controls for AC, heating, and humidity"},{"id":"ff30c48f.6f9e18","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"1f49dcf4.505363","type":"tab","label":"Laundry","disabled":false,"info":""},{"id":"f2b2b01a.4c095","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"a62e79d6.a8c258","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"29d1a4f6.8693cc","type":"tab","label":"Locks","disabled":false,"info":""},{"id":"97d8f6bb.b25968","type":"tab","label":"Loft","disabled":false,"info":""},{"id":"3eb84805.5f2958","type":"tab","label":"Motion Lighting","disabled":false,"info":"Lights that are turned on and off using motion sensors"},{"id":"bd4e515a.49e17","type":"tab","label":"Master Bedroom","disabled":false,"info":""},{"id":"7afd27dd.49c948","type":"tab","label":"Outdoor Lights","disabled":false,"info":""},{"id":"732ed9aa.947bd8","type":"tab","label":"Plants","disabled":false,"info":""},{"id":"6cf8ffff.cf7a8","type":"tab","label":"Presense","disabled":false,"info":""},{"id":"922dda66.355ea8","type":"tab","label":"Vaccum","disabled":false,"info":""},{"id":"73a37856.6b88c8","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"2c67107c.3ec8b","type":"tab","label":"OTHER","disabled":false,"info":""},{"id":"6c03ac05.d4c604","type":"tab","label":"Polly","disabled":false,"info":""},{"id":"5d446e23.e460b","type":"subflow","name":"Text Parents","info":"Text Rachael and Cameron when they are home\n\n### Input\n\n`payload`\n\nThe message that will be sent as a text.","category":"mobile","in":[{"x":50,"y":30,"wires":[{"id":"4cf144b5.36e3fc"}]}],"out":[{"x":680,"y":140,"wires":[{"id":"23b7ec68.71a664","port":0}]}]},{"id":"4bdf444a.f2b29c","type":"subflow","name":"Arrive Home Lights","info":"","category":"scenes","in":[{"x":180,"y":240,"wires":[{"id":"656defa4.76f8a"},{"id":"1ff5c9a2.b65dd6"},{"id":"73ed0a72.d4c5a4"}]}],"out":[]},{"id":"a26ae1a4.9409","type":"subflow","name":"Downstairs Movie Lights","info":"","category":"scenes","in":[{"x":140,"y":200,"wires":[{"id":"c0056b13.3e5cf8"},{"id":"be3d9c43.a7e4b"},{"id":"95365844.0b74b8"},{"id":"20b9f618.43956a"},{"id":"e59f9ea0.3b34d"}]}],"out":[]},{"id":"c1d6c8de.775168","type":"subflow","name":"polly","info":"Input SSML text and output a media URL to playback the file\n\n### Input\n\n`payload`\n\nThe message that will be rendered.\n\n### Output\n\n`url`\n\nURL of the MP3 to playback","category":"function","in":[{"x":260,"y":360,"wires":[{"id":"4afbc619.423138"}]}],"out":[{"x":820,"y":360,"wires":[{"id":"6fd67fa.2cc708","port":0}]}]},{"id":"3315ade7.b5dea2","type":"mqtt-broker","z":"","name":"MQTT","broker":"mqtt","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"53d23819.50f298","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true},{"id":"5033ee69.356ab","type":"twilio-api","z":"","name":"Default","sid":"AC8cd2e1fc29add0eb42683ca2046fdbb9","from":"+15178034067"},{"id":"dbd63890.678588","type":"polly-config","z":"","name":"NodeRedPolly"},{"id":"58f3d0ea.61c02","type":"server-state-changed","z":"d2555e0f.679f1","name":"Fireplace","server":"53d23819.50f298","entityidfilter":"switch.fireplace_switch","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":80,"y":60,"wires":[["ce17b71d.da7fe8"]]},{"id":"ce17b71d.da7fe8","type":"stoptimer","z":"d2555e0f.679f1","duration":"4","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":250,"y":60,"wires":[["ef9859e0.c08f08"],[]]},{"id":"ef9859e0.c08f08","type":"switch","z":"d2555e0f.679f1","name":"On or off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":60,"wires":[["ae463c98.ff8b5"],[]]},{"id":"ae463c98.ff8b5","type":"api-call-service","z":"d2555e0f.679f1","name":"Turn off Fireplace","server":"53d23819.50f298","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.fireplace_switch\"}","mergecontext":"","x":630,"y":60,"wires":[[]]},{"id":"e7451108.e1c46","type":"switch","z":"5665ccf3.114254","name":"Temp to Humidity","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"str"},{"t":"btwn","v":"30","vt":"num","v2":"40","v2t":"num"},{"t":"btwn","v":"20","vt":"num","v2":"30","v2t":"num"},{"t":"btwn","v":"10","vt":"num","v2":"20","v2t":"num"},{"t":"btwn","v":"0","vt":"num","v2":"10","v2t":"num"},{"t":"btwn","v":"-10","vt":"num","v2":"0","v2t":"num"},{"t":"btwn","v":"-10","vt":"num","v2":"-20","v2t":"num"},{"t":"lt","v":"-20","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":290,"y":240,"wires":[["23f1a19d.282f1e"],["11cbba98.7fa975"],["9bd57344.9c017"],["9c935d5f.70d6e"],["7e3eeba2.6c1324"],["4d239d27.044b14"],["cfa1d952.eb4258"],["f388f0bb.e2a9a"]]},{"id":"322be6bc.ddaeca","type":"server-state-changed","z":"5665ccf3.114254","name":"Outdoor Temp","server":"53d23819.50f298","entityidfilter":"sensor.dark_sky_temperature","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":140,"y":100,"wires":[["e7451108.e1c46"]]},{"id":"23f1a19d.282f1e","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 45%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 45 }","mergecontext":"","x":650,"y":40,"wires":[[]]},{"id":"11cbba98.7fa975","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 40%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 40 }","mergecontext":"","x":650,"y":80,"wires":[[]]},{"id":"9bd57344.9c017","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 35%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 35 }","mergecontext":"","x":650,"y":120,"wires":[[]]},{"id":"9c935d5f.70d6e","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 30%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 30 }","mergecontext":"","x":650,"y":160,"wires":[[]]},{"id":"7e3eeba2.6c1324","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 25%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 25 }","mergecontext":"","x":650,"y":200,"wires":[[]]},{"id":"4d239d27.044b14","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 20%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 20 }","mergecontext":"","x":650,"y":240,"wires":[[]]},{"id":"cfa1d952.eb4258","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 15%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 15 }","mergecontext":"","x":650,"y":280,"wires":[[]]},{"id":"f388f0bb.e2a9a","type":"api-call-service","z":"5665ccf3.114254","name":"Set to 10%","server":"53d23819.50f298","service_domain":"climate","service":"set_humidity","data":"{ \"entity_id\": \"climate.main_floor\", \"humidity\": 10 }","mergecontext":"","x":650,"y":320,"wires":[[]]},{"id":"530d2589.e3e3dc","type":"server-state-changed","z":"5665ccf3.114254","name":"Presence","server":"53d23819.50f298","entityidfilter":"input_select.presence_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":420,"wires":[["1c9f3b6d.54d755"]]},{"id":"1c9f3b6d.54d755","type":"switch","z":"5665ccf3.114254","name":"Just Returned / Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Returned","vt":"str"},{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":420,"wires":[["da43856d.bb9468"],["f587071b.3c4398"]]},{"id":"da43856d.bb9468","type":"api-call-service","z":"5665ccf3.114254","name":"Thermostat On","server":"53d23819.50f298","service_domain":"climate","service":"set_away_mode","data":"{ \"entity_id\": \"climate.main_floor\", \"away_mode\": false }","mergecontext":"","x":620,"y":400,"wires":[[]]},{"id":"f587071b.3c4398","type":"api-call-service","z":"5665ccf3.114254","name":"Thermostat Off","server":"53d23819.50f298","service_domain":"climate","service":"set_away_mode","data":"{ \"entity_id\": \"climate.main_floor\", \"away_mode\": true }","mergecontext":"","x":620,"y":440,"wires":[[]]},{"id":"66a238cc.857128","type":"inject","z":"922dda66.355ea8","name":"M/W/F 7am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * 1,3,5","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["966baf97.27f37"]]},{"id":"7d3b05ae.6aa23c","type":"api-call-service","z":"922dda66.355ea8","name":"Turn on Vacuum","server":"53d23819.50f298","service_domain":"vacuum","service":"turn_on","data":"{\"entity_id\": \"vacuum.roomba\"}","mergecontext":"","x":700,"y":120,"wires":[[]]},{"id":"966baf97.27f37","type":"api-current-state","z":"922dda66.355ea8","name":"Guest Mode Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"input_boolean.guest_mode","outputs":1,"x":370,"y":80,"wires":[["857694ef.05cc98"]]},{"id":"64394b48.7b9f24","type":"server-state-changed","z":"3eb84805.5f2958","name":"Master Closet Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.motion_sensor_158d000222e0d2","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":140,"y":80,"wires":[["2fa40a75.56c366"]]},{"id":"2fa40a75.56c366","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":80,"wires":[["9fa9d85f.e1b4b8"],["964ed87d.461718"]]},{"id":"9fa9d85f.e1b4b8","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Closet Light","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.master_closet_lights\", \"brightness_pct\" : 60}","mergecontext":"","x":580,"y":60,"wires":[[]]},{"id":"964ed87d.461718","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Closet Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.master_closet_lights\" }","mergecontext":"","x":580,"y":100,"wires":[[]]},{"id":"701064df.6f13bc","type":"comment","z":"3eb84805.5f2958","name":"Master Closet","info":"","x":110,"y":40,"wires":[]},{"id":"75382543.4cbbdc","type":"comment","z":"3eb84805.5f2958","name":"Downstairs Bathroom","info":"","x":140,"y":160,"wires":[]},{"id":"a695d873.f7ff98","type":"server-state-changed","z":"3eb84805.5f2958","name":"Downstairs Bathroom Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.downstairs_bathroom_motion","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":160,"y":220,"wires":[["83058a7a.56de98","12b9611f.4c56af"]]},{"id":"83058a7a.56de98","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":180,"wires":[["358be329.7c3d9c"],[]]},{"id":"df465ef8.73aaf","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Downstairs Bathroom Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.downstairs_bathroom_lights\" }","mergecontext":"","x":760,"y":300,"wires":[[]]},{"id":"3cdfef86.99828","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Downstairs Bathroom Light High","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.downstairs_bathroom_lights\", \"brightness_pct\" : 85}","mergecontext":"","x":740,"y":200,"wires":[[]]},{"id":"f647af62.8e18e","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Downstairs Bathroom Light Low","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.downstairs_bathroom_lights\", \"brightness_pct\" : 30}","mergecontext":"","x":740,"y":240,"wires":[[]]},{"id":"98fc6221.3fd25","type":"stoptimer","z":"3eb84805.5f2958","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":720,"y":420,"wires":[["12b9611f.4c56af"],[]]},{"id":"efc88e77.ec6c5","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":380,"wires":[[],["5c3a69cb.9c43e8"]]},{"id":"82b2717a.59484","type":"time-range-switch","z":"3eb84805.5f2958","name":"Day / Night","lat":"","lon":"","startTime":"8:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":410,"y":300,"wires":[["3cdfef86.99828"],["f647af62.8e18e"]]},{"id":"358be329.7c3d9c","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Light Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.downstairs_bathroom_lights","outputs":1,"x":440,"y":220,"wires":[["83db36f0.1aec28"]]},{"id":"1ef995f.afb146a","type":"comment","z":"3eb84805.5f2958","name":"Master Bathroom","info":"","x":120,"y":520,"wires":[]},{"id":"51982c46.6ef334","type":"server-state-changed","z":"3eb84805.5f2958","name":"Master Bathroom Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.motion_sensor_158d0001e50edf","entityidfiltertype":"exact","haltifstate":"","outputs":1,"x":150,"y":580,"wires":[["f20c2cce.763b","4f79e10.1e6af2"]]},{"id":"f20c2cce.763b","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":520,"wires":[["29c7357a.e5e17a"],[]]},{"id":"386c975f.b14008","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Master Bathroom Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.master_bathroom_light\" }","mergecontext":"","x":750,"y":680,"wires":[[]]},{"id":"6f60f8a.6be7908","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Master Bathroom Light High","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.master_bathroom_light\",\"brightness_pct\":85}","render_data":false,"mergecontext":"","x":730,"y":520,"wires":[[]]},{"id":"49cb82f7.59124c","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Master Bathroom Light Med","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.master_bathroom_light\",\"brightness_pct\":30}","render_data":false,"mergecontext":"","x":730,"y":560,"wires":[[]]},{"id":"7dd57d79.91dcf4","type":"stoptimer","z":"3eb84805.5f2958","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":720,"y":800,"wires":[["4f79e10.1e6af2"],[]]},{"id":"28373049.2ee85","type":"time-range-switch","z":"3eb84805.5f2958","name":"Day / Night","lat":"","lon":"","startTime":"8:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":410,"y":640,"wires":[["6f60f8a.6be7908"],["17a2d82e.a390f8"]]},{"id":"29c7357a.e5e17a","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Light Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"light.master_bathroom_light","outputs":1,"x":440,"y":560,"wires":[["ca542836.b78d78"]]},{"id":"78af008.fb594","type":"api-current-state","z":"3eb84805.5f2958","name":"Humidity Avg Diff","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.master_bathroom_humidity_diff_average_diff","outputs":1,"x":310,"y":860,"wires":[["3623e39b.bdb60c"]]},{"id":"3623e39b.bdb60c","type":"switch","z":"3eb84805.5f2958","name":"< 3%","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"str"},{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":860,"wires":[["386c975f.b14008","b2c6d66b.6a3398"],["7dd57d79.91dcf4"]]},{"id":"17a2d82e.a390f8","type":"time-range-switch","z":"3eb84805.5f2958","name":"Night / Overnight","lat":"","lon":"","startTime":"22:00","endTime":"1:00","startOffset":0,"endOffset":0,"x":430,"y":680,"wires":[["49cb82f7.59124c"],["f895b762.1c6c08"]]},{"id":"f895b762.1c6c08","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Master Bathroom Light Low","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.master_bathroom_light\",\"brightness_pct\":4}","render_data":false,"mergecontext":"","x":730,"y":600,"wires":[[]]},{"id":"83db36f0.1aec28","type":"switch","z":"3eb84805.5f2958","name":"Abort if Light On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":260,"wires":[["82b2717a.59484"]]},{"id":"ca542836.b78d78","type":"switch","z":"3eb84805.5f2958","name":"Abort if Light On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":600,"wires":[["28373049.2ee85"]]},{"id":"6e40f32.b1d920c","type":"bigtimer","z":"7afd27dd.49c948","outtopic":"","outpayload1":"on","outpayload2":"","name":"On before Sunset","lat":"42.7968889","lon":"-84.6119722","starttime":"5004","endtime":"30","startoff":"-10","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":130,"y":140,"wires":[["54378aee.69f6d4"],[],[]]},{"id":"7e6f5327.6aa0cc","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - Default","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_default\" }","mergecontext":"","x":750,"y":40,"wires":[[]]},{"id":"54378aee.69f6d4","type":"api-current-state","z":"7afd27dd.49c948","name":"Selected Theme","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.outdoor_lights","outputs":1,"x":320,"y":140,"wires":[["81c41fc9.5eba6"]]},{"id":"81c41fc9.5eba6","type":"switch","z":"7afd27dd.49c948","name":"Theme","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Default","vt":"str"},{"t":"eq","v":"Valentine's Day","vt":"str"},{"t":"eq","v":"St. Patrick's Day","vt":"str"},{"t":"eq","v":"USA","vt":"str"},{"t":"eq","v":"Halloween","vt":"str"},{"t":"eq","v":"Christmas","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":490,"y":140,"wires":[["7e6f5327.6aa0cc"],["86f9e967.376808"],["1184e4f1.c54d3b"],["71fc42e5.00a51c"],["119bda23.9f9d26"],["6abf82e8.b90a1c"]]},{"id":"6abf82e8.b90a1c","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - Christmas","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_christmas\" }","mergecontext":"","x":760,"y":240,"wires":[[]]},{"id":"86f9e967.376808","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - Valentine's Day","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_valentines_day\" }","mergecontext":"","x":780,"y":80,"wires":[[]]},{"id":"119bda23.9f9d26","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - Halloween","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_halloween\" }","mergecontext":"","x":760,"y":200,"wires":[[]]},{"id":"1184e4f1.c54d3b","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - St Patrick's Day","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_st_patricks_day\" }","mergecontext":"","x":780,"y":120,"wires":[[]]},{"id":"71fc42e5.00a51c","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - USA","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_usa\" }","mergecontext":"","x":750,"y":160,"wires":[[]]},{"id":"c052e840.092168","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn on Outdoor Lights - Dim","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_dim\" }","mergecontext":"","x":460,"y":260,"wires":[[]]},{"id":"1b82e02e.1f888","type":"bigtimer","z":"7afd27dd.49c948","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Dim at 12:30","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"30","endtime":"5000","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":true,"atstart":false,"odd":false,"even":false,"x":110,"y":240,"wires":[["455c5279.049e4c"],[],[]]},{"id":"73869932.794d58","type":"api-call-service","z":"7afd27dd.49c948","name":"Turn off Outdoor Lights","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_off\" }","mergecontext":"","x":450,"y":300,"wires":[[]]},{"id":"93491345.886e9","type":"bigtimer","z":"7afd27dd.49c948","outtopic":"","outpayload1":"on","outpayload2":"","name":"Valentine's Day","lat":"42.7968889","lon":"-84.6119722","starttime":"360","endtime":"5001","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"14","month1":"2","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":120,"y":420,"wires":[["a80f2382.e32b8"],[],[]]},{"id":"176666a6.ce14d9","type":"comment","z":"7afd27dd.49c948","name":"Set Holiday Themes","info":"","x":290,"y":360,"wires":[]},{"id":"d0cfb30.e19b45","type":"bigtimer","z":"7afd27dd.49c948","outtopic":"","outpayload1":"on","outpayload2":"","name":"USA","lat":"42.7968889","lon":"-84.6119722","starttime":"360","endtime":"5001","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"4","month1":"7","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":"2","w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":90,"y":540,"wires":[["64686d4d.1993c4"],[],[]]},{"id":"585feb4b.e63d64","type":"bigtimer","z":"7afd27dd.49c948","outtopic":"","outpayload1":"on","outpayload2":"","name":"St Patrick's Day","lat":"42.7968889","lon":"-84.6119722","starttime":"360","endtime":"5001","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"17","month1":"3","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":"2","w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":120,"y":480,"wires":[["f17e8412.551848"],[],[]]},{"id":"a80f2382.e32b8","type":"api-call-service","z":"7afd27dd.49c948","name":"Set to Valentine's Day","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.outdoor_lights\", \"option\":  \"Valentine's Day\"}","mergecontext":"","x":400,"y":420,"wires":[["692a00e2.86e98"]]},{"id":"64686d4d.1993c4","type":"api-call-service","z":"7afd27dd.49c948","name":"Set to USA","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.outdoor_lights\", \"option\":  \"USA\"}","mergecontext":"","x":370,"y":540,"wires":[["692a00e2.86e98"]]},{"id":"f17e8412.551848","type":"api-call-service","z":"7afd27dd.49c948","name":"Set to St. Patrick's Day","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.outdoor_lights\", \"option\":  \"St. Patrick's Day\"}","mergecontext":"","x":410,"y":480,"wires":[["692a00e2.86e98"]]},{"id":"692a00e2.86e98","type":"delay","z":"7afd27dd.49c948","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":480,"wires":[["8a1e315c.9f771"]]},{"id":"8a1e315c.9f771","type":"api-call-service","z":"7afd27dd.49c948","name":"Set to Default","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.outdoor_lights\", \"option\":  \"Default\"}","mergecontext":"","x":820,"y":460,"wires":[[]]},{"id":"455c5279.049e4c","type":"switch","z":"7afd27dd.49c948","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":300,"wires":[["c052e840.092168"],["73869932.794d58"]]},{"id":"e3f4020c.67fa3","type":"bigtimer","z":"ed851188.a09fb","outtopic":"","outpayload1":"on","outpayload2":"","name":"On at Sunset","lat":"42.7968889","lon":"-84.6119722","starttime":"5004","endtime":"30","startoff":"-10","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":90,"y":60,"wires":[["f3a7550a.b77078"],[],[]]},{"id":"f3a7550a.b77078","type":"api-current-state","z":"ed851188.a09fb","name":"Current Garage Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"cover.garage_door","outputs":1,"x":320,"y":60,"wires":[["5d3da7d6.25f428"]]},{"id":"5d3da7d6.25f428","type":"switch","z":"ed851188.a09fb","name":"Abort if Door Closed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":120,"wires":[["ff69e55d.d119f8"]]},{"id":"f356cd87.bf16c","type":"time-range-switch","z":"ed851188.a09fb","name":"","lat":"42.7968889","lon":"-84.6119722","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":280,"y":220,"wires":[["e9c175f4.a6c318"],[]]},{"id":"26e7e12.de01a1e","type":"server-state-changed","z":"ed851188.a09fb","name":"Garage Door","server":"53d23819.50f298","entityidfilter":"cover.garage_door","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":90,"y":220,"wires":[["f356cd87.bf16c"]]},{"id":"e9c175f4.a6c318","type":"stoptimer","z":"ed851188.a09fb","duration":"8","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":220,"wires":[["5d3da7d6.25f428"],[]]},{"id":"3f536541.c8376a","type":"server-state-changed","z":"6cf8ffff.cf7a8","name":"Home Status","server":"53d23819.50f298","entityidfilter":"group.family","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":110,"y":40,"wires":[["f83fc017.032dd","4c1a0ee7.2759b"]]},{"id":"f83fc017.032dd","type":"stoptimer","z":"6cf8ffff.cf7a8","duration":"8","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":420,"y":40,"wires":[["ef87fa47.1f1f38"],[]]},{"id":"67d9ef05.dffd2","type":"switch","z":"6cf8ffff.cf7a8","name":"home / not_home","property":"home_status","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":160,"wires":[["2a4d42f6.dee77e"],["e94f4003.f9d63"]]},{"id":"2a4d42f6.dee77e","type":"switch","z":"6cf8ffff.cf7a8","name":"Current Presense Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Just Returned","vt":"str"},{"t":"eq","v":"Just Left","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":120,"wires":[[],["2c45fc2e.584304"],[],["2b964c2e.9f5d44"]]},{"id":"70db950.315e06c","type":"api-current-state","z":"6cf8ffff.cf7a8","name":"Current Presense State","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.presence_status","outputs":1,"x":150,"y":180,"wires":[["67d9ef05.dffd2"]]},{"id":"e94f4003.f9d63","type":"switch","z":"6cf8ffff.cf7a8","name":"Current Presense Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Away","vt":"str"},{"t":"eq","v":"Just Returned","vt":"str"},{"t":"eq","v":"Just Left","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":630,"y":200,"wires":[["90501998.e63748"],[],["b0fde4fb.918e38"],[]]},{"id":"2c45fc2e.584304","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set to Just Returned","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.presence_status\", \"option\": \"Just Returned\" }","mergecontext":"","x":940,"y":220,"wires":[[]]},{"id":"2b964c2e.9f5d44","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set to Home","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.presence_status\", \"option\": \"Home\" }","mergecontext":"","x":910,"y":40,"wires":[[]]},{"id":"90501998.e63748","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set to Just Left","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.presence_status\", \"option\": \"Just Left\" }","mergecontext":"","x":920,"y":160,"wires":[[]]},{"id":"b0fde4fb.918e38","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set to Away","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.presence_status\", \"option\": \"Away\" }","mergecontext":"","x":910,"y":100,"wires":[[]]},{"id":"ef87fa47.1f1f38","type":"switch","z":"6cf8ffff.cf7a8","name":"home / not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":40,"wires":[["2b964c2e.9f5d44"],["b0fde4fb.918e38"]]},{"id":"4c1a0ee7.2759b","type":"change","z":"6cf8ffff.cf7a8","name":"","rules":[{"t":"set","p":"home_status","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":120,"wires":[["70db950.315e06c"]]},{"id":"12b9611f.4c56af","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Motion Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.downstairs_bathroom_motion","outputs":1,"x":300,"y":380,"wires":[["efc88e77.ec6c5"]]},{"id":"5c3a69cb.9c43e8","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.downstairs_bathroom_door","outputs":1,"x":280,"y":440,"wires":[["407343b3.e50cfc"]]},{"id":"407343b3.e50cfc","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":440,"wires":[["df465ef8.73aaf"],["98fc6221.3fd25"]]},{"id":"79142b4e.609f14","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":740,"wires":[[],["213ff133.a027de"]]},{"id":"4f79e10.1e6af2","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Motion Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.motion_sensor_158d0001e50edf","outputs":1,"x":280,"y":740,"wires":[["79142b4e.609f14"]]},{"id":"213ff133.a027de","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.master_bathroom_door","outputs":1,"x":300,"y":800,"wires":[["8f25bb14.cea118"]]},{"id":"8f25bb14.cea118","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":800,"wires":[["78af008.fb594"],["7dd57d79.91dcf4"]]},{"id":"b2c6d66b.6a3398","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Master Bathroom Fan","server":"53d23819.50f298","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.master_bathroom_exhaust_fan\"}","render_data":false,"mergecontext":"","x":750,"y":720,"wires":[[]]},{"id":"8a73c9c.bd20c38","type":"comment","z":"e4d970e8.28831","name":"Master Bathroom","info":"","x":220,"y":60,"wires":[]},{"id":"b5c0f6af.ee4898","type":"server-state-changed","z":"e4d970e8.28831","name":"Master Bathroom Humidity Diff Avg","server":"53d23819.50f298","entityidfilter":"sensor.master_bathroom_humidity_diff_average_diff","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":180,"y":120,"wires":[["cb3a450.ee7ddb8"]]},{"id":"cb3a450.ee7ddb8","type":"switch","z":"e4d970e8.28831","name":"< 3% or > 5%","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"gt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":180,"wires":[["f83f7e84.9656b"],["8c0b4bb.d858ab8"]]},{"id":"fa235843.af4db8","type":"api-call-service","z":"e4d970e8.28831","name":"Turn off Master Bathroom Fan","server":"53d23819.50f298","service_domain":"fan","service":"turn_off","data":"{\"entity_id\":\"fan.master_bathroom_exhaust_fan\"}","render_data":false,"mergecontext":"","x":930,"y":120,"wires":[[]]},{"id":"854c30a0.37739","type":"stoptimer","z":"e4d970e8.28831","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":260,"wires":[["f83f7e84.9656b"],[]]},{"id":"f83f7e84.9656b","type":"api-current-state","z":"e4d970e8.28831","name":"Current Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.master_bathroom_door","outputs":1,"x":580,"y":180,"wires":[["5a96399b.5508e8"]]},{"id":"5a96399b.5508e8","type":"switch","z":"e4d970e8.28831","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":180,"wires":[["fa235843.af4db8"],["854c30a0.37739"]]},{"id":"8c0b4bb.d858ab8","type":"api-call-service","z":"e4d970e8.28831","name":"Turn on Master Bathroom Fan","server":"53d23819.50f298","service_domain":"fan","service":"turn_on","data":"{\"entity_id\":\"fan.master_bathroom_exhaust_fan\"}","render_data":false,"mergecontext":"","x":570,"y":120,"wires":[[]]},{"id":"a662942c.30b828","type":"switch","z":"97ad0127.f1ef9","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":540,"y":120,"wires":[["98f9a1ec.64034"],["624b249.a4b53dc"]]},{"id":"624b249.a4b53dc","type":"api-call-service","z":"97ad0127.f1ef9","name":"Turn off Alert Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.alert_light\" }","mergecontext":"","x":790,"y":160,"wires":[[]]},{"id":"98f9a1ec.64034","type":"api-render-template","z":"97ad0127.f1ef9","name":"Active Alert Colors","server":"53d23819.50f298","template":"[\n{%- for alert in states.input_boolean if alert.attributes.color and alert.state == 'on' -%}\n[{{ alert.attributes.color }}]\n {%- if loop.last == False -%}\n  {{ ',' }}\n {%- endif %}\n{%- endfor -%}\n]","x":190,"y":280,"wires":[["a289768c.71f408"]]},{"id":"a289768c.71f408","type":"function","z":"97ad0127.f1ef9","name":"Select random active color","func":"const colors = msg.payload;\n\nconst random = Math.floor(Math.random() * colors.length);\n\nconst color = colors[random]; \n\nnode.status({text: 'Color set to ' + color});\n\nvar newMsg = { \n    payload: {\n        data: {\n            rgb_color: color\n        }\n    }\n    \n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["89d7ea23.a7a338"]]},{"id":"3aa3af9c.f8665","type":"api-call-service","z":"97ad0127.f1ef9","name":"Set Alert Light Color","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.alert_light\"}","mergecontext":"","x":780,"y":360,"wires":[[]]},{"id":"89d7ea23.a7a338","type":"switch","z":"97ad0127.f1ef9","name":"Active Alerts?","property":"payload.data.rgb_color","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":280,"wires":[["624b249.a4b53dc"],["3aa3af9c.f8665"]]},{"id":"14feb4c.c430a4b","type":"server-state-changed","z":"97ad0127.f1ef9","name":"Alerts","server":"53d23819.50f298","entityidfilter":"input_boolean.alert","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":180,"wires":[["efc91ba1.191388"]]},{"id":"45ffa4a7.9a11bc","type":"switch","z":"922dda66.355ea8","name":"Away or not","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"},{"t":"neq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":160,"wires":[["7d3b05ae.6aa23c"],["711bca06.d0bee4"]]},{"id":"857694ef.05cc98","type":"api-current-state","z":"922dda66.355ea8","name":"Presence","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.presence_status","outputs":1,"x":240,"y":160,"wires":[["45ffa4a7.9a11bc"]]},{"id":"711bca06.d0bee4","type":"stoptimer","z":"922dda66.355ea8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":420,"y":240,"wires":[["857694ef.05cc98"],[]]},{"id":"30c4ca5f.23ac96","type":"inject","z":"bd4e515a.49e17","name":"M/T/W 6:30am","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 06 * * 1,2,3","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["c7a1227f.77dd9"]]},{"id":"c7a1227f.77dd9","type":"api-current-state","z":"bd4e515a.49e17","name":"Kid's Presense Status","server":"53d23819.50f298","halt_if":"not_home","override_topic":true,"override_payload":true,"entity_id":"group.kids","outputs":1,"x":400,"y":120,"wires":[["cd925f81.3c55f"]]},{"id":"cd925f81.3c55f","type":"api-call-service","z":"bd4e515a.49e17","name":"Turn off fan","server":"53d23819.50f298","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.master_bedroom_fan\"}","mergecontext":"","x":630,"y":120,"wires":[[]]},{"id":"23fdc0ea.f67b7","type":"mqtt in","z":"1f49dcf4.505363","name":"Cameron Laundry Update","topic":"laundry/cameron","qos":"0","broker":"3315ade7.b5dea2","x":170,"y":100,"wires":[["8b133b7f.28aff8"]]},{"id":"1d175111.07aa4f","type":"mqtt in","z":"1f49dcf4.505363","name":"Rachael Laundry Update","topic":"laundry/rachael","qos":"0","broker":"3315ade7.b5dea2","x":170,"y":160,"wires":[["8b133b7f.28aff8"]]},{"id":"c76bb89f.795548","type":"mqtt in","z":"1f49dcf4.505363","name":"Hailey Laundry Update","topic":"laundry/hailey","qos":"0","broker":"3315ade7.b5dea2","x":160,"y":220,"wires":[["8b133b7f.28aff8"]]},{"id":"3c882ed9.ac08d2","type":"mqtt in","z":"1f49dcf4.505363","name":"Brett Laundry Update","topic":"laundry/brett","qos":"0","broker":"3315ade7.b5dea2","x":160,"y":280,"wires":[["8b133b7f.28aff8"]]},{"id":"8b133b7f.28aff8","type":"switch","z":"1f49dcf4.505363","name":"Active","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"active","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":200,"wires":[["a3d066eb.3fba28"]]},{"id":"cabc287b.28e6a8","type":"api-call-service","z":"1f49dcf4.505363","name":"Set User","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washer_user\"}","render_data":false,"mergecontext":"","x":700,"y":200,"wires":[[]]},{"id":"ad447729.e07f88","type":"comment","z":"1f49dcf4.505363","name":"Detect Laundry Button presses and set proper status","info":"","x":220,"y":40,"wires":[]},{"id":"16161410.801fbc","type":"server-state-changed","z":"d94b56bf.1ffec8","name":"Outdoor Lights Remote","server":"53d23819.50f298","entityidfilter":"sensor.outdoor_lights_remote","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":120,"wires":[["5ce7652c.f656ec"]]},{"id":"5ce7652c.f656ec","type":"switch","z":"d94b56bf.1ffec8","name":"Button Pushed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":320,"y":120,"wires":[["f01feb95.f69ae8"],[],[],[],["3b8d2d24.26d912"]],"outputLabels":["On","Up Arrow","Middle","Down Arrow","Off"]},{"id":"c543c2dc.d46fb","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - Default","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_default\" }","mergecontext":"","x":950,"y":40,"wires":[[]]},{"id":"f01feb95.f69ae8","type":"api-current-state","z":"d94b56bf.1ffec8","name":"Selected Theme","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.outdoor_lights","outputs":1,"x":520,"y":60,"wires":[["3476f70a.829da8"]]},{"id":"3476f70a.829da8","type":"switch","z":"d94b56bf.1ffec8","name":"Theme","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Default","vt":"str"},{"t":"eq","v":"Valentine's Day","vt":"str"},{"t":"eq","v":"St. Patrick's Day","vt":"str"},{"t":"eq","v":"USA","vt":"str"},{"t":"eq","v":"Halloween","vt":"str"},{"t":"eq","v":"Christmas","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":690,"y":80,"wires":[["c543c2dc.d46fb"],["e0e8b1c0.94f65"],["8a7b3cff.d82c3"],["52ee1283.bb76ec"],["eff6dbf6.dfbc28"],["f7547760.e963b8"]]},{"id":"f7547760.e963b8","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - Christmas","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_christmas\" }","mergecontext":"","x":960,"y":240,"wires":[[]]},{"id":"e0e8b1c0.94f65","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - Valentine's Day","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_valentines_day\" }","mergecontext":"","x":980,"y":80,"wires":[[]]},{"id":"eff6dbf6.dfbc28","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - Halloween","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_halloween\" }","mergecontext":"","x":960,"y":200,"wires":[[]]},{"id":"8a7b3cff.d82c3","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - St Patrick's Day","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_st_patricks_day\" }","mergecontext":"","x":980,"y":120,"wires":[[]]},{"id":"52ee1283.bb76ec","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Outdoor Lights - USA","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_usa\" }","mergecontext":"","x":950,"y":160,"wires":[[]]},{"id":"3b8d2d24.26d912","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn off Outdoor Lights","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_off\" }","mergecontext":"","x":530,"y":180,"wires":[[]]},{"id":"9992bf7a.6a3a6","type":"server-state-changed","z":"d94b56bf.1ffec8","name":"Living Room Lamp Remote","server":"53d23819.50f298","entityidfilter":"sensor.living_room_lamp_remote","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":130,"y":320,"wires":[["da1aa295.007e4"]]},{"id":"da1aa295.007e4","type":"switch","z":"d94b56bf.1ffec8","name":"Button Pushed","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"16","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":320,"wires":[["e9cc5931.c9f958"],[],[],[],["71077ce4.f9e184"]],"outputLabels":["On","Up Arrow","Middle","Down Arrow","Off"]},{"id":"e9cc5931.c9f958","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Living Room Lamp","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.livingroom_lamp\"}","mergecontext":"","x":620,"y":280,"wires":[[]]},{"id":"71077ce4.f9e184","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn off Living Room Lamp","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.livingroom_lamp\"}","mergecontext":"","x":620,"y":360,"wires":[[]]},{"id":"3c30fd5d.6fcf92","type":"inject","z":"97ad0127.f1ef9","name":"Every 20 seconds","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":80,"wires":[["efc91ba1.191388"]]},{"id":"738a962d.0f99b8","type":"comment","z":"97ad0127.f1ef9","name":"Alert Light","info":"","x":120,"y":40,"wires":[]},{"id":"6ef20074.76734","type":"server-state-changed","z":"97ad0127.f1ef9","name":"Breakfast Bar Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.breakfast_bar_sensor","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":120,"y":480,"wires":[["55a5a13e.40677"]]},{"id":"55a5a13e.40677","type":"api-current-state","z":"97ad0127.f1ef9","name":"Current Presense State","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.presence_status","outputs":1,"x":350,"y":480,"wires":[["cef719dd.7810f8"]]},{"id":"cef719dd.7810f8","type":"switch","z":"97ad0127.f1ef9","name":"Presense Just Returned","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Returned","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["c48f2fe2.5235a"]]},{"id":"454d4ac.3a7bcb4","type":"api-render-template","z":"97ad0127.f1ef9","name":"Alert Template","server":"53d23819.50f298","template":"{% for alert in states.input_boolean if alert.attributes.color and alert.state == 'on' %}{% if alert.attributes.color and alert.state == 'on' -%}\n    {%- if loop.first %}Welcome home. You should be aware that currently, {% elif loop.last %}, and {% else %}, {% endif -%}\n        {{ alert.attributes.descrip }}{%if loop.last%}.{% endif %}\n    {%- endif %}\n{%- endfor %}","x":400,"y":560,"wires":[["3575f352.9e7f8c"]]},{"id":"2b7a83e.bba7f7c","type":"comment","z":"97ad0127.f1ef9","name":"Play Alerts","info":"","x":120,"y":420,"wires":[]},{"id":"9441788a.054c68","type":"server-state-changed","z":"1f49dcf4.505363","name":"Washing Machine Power","server":"53d23819.50f298","entityidfilter":"sensor.washing_machine_power","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":130,"y":440,"wires":[["c7e024b9.142d58"]]},{"id":"c7e024b9.142d58","type":"switch","z":"1f49dcf4.505363","name":"Power Level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3.5","vt":"num"},{"t":"btwn","v":"10","vt":"num","v2":"100","v2t":"num"},{"t":"gt","v":"100","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":440,"wires":[["d4133510.8b6668"],["d2159162.f0d23"],["3e162357.5b7c3c"]]},{"id":"d4133510.8b6668","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washer","outputs":1,"x":520,"y":340,"wires":[["5c28de82.1282d"]]},{"id":"5c28de82.1282d","type":"switch","z":"1f49dcf4.505363","name":"Starting / Running?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Starting","vt":"str"},{"t":"eq","v":"Running","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":730,"y":340,"wires":[["a3d10a8d.f3c928"],["6e9bbdd.b108544"]]},{"id":"6e9bbdd.b108544","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Finishing","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.washer\", \"option\": \"Finishing\" }","mergecontext":"","x":920,"y":360,"wires":[[]]},{"id":"3e162357.5b7c3c","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Running","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.washer\", \"option\": \"Running\" }","mergecontext":"","x":540,"y":500,"wires":[[]]},{"id":"f6c25dad.74dd1","type":"server-state-changed","z":"1f49dcf4.505363","name":"Washing Machine State","server":"53d23819.50f298","entityidfilter":"input_select.washer","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"x":120,"y":600,"wires":[["8552831c.68f1"]]},{"id":"8552831c.68f1","type":"stoptimer","z":"1f49dcf4.505363","duration":"8","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":340,"y":600,"wires":[["ae2da0cc.e3c3e"],[]]},{"id":"ae2da0cc.e3c3e","type":"switch","z":"1f49dcf4.505363","name":"Finishing?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Finishing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":600,"wires":[["9216c9c0.cc58c8","a6010482.261c08"]]},{"id":"9216c9c0.cc58c8","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Clean","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.washer\", \"option\": \"Clean\" }","mergecontext":"","x":690,"y":600,"wires":[[]]},{"id":"6c0dcdfb.abe5d4","type":"server-state-changed","z":"1f49dcf4.505363","name":"Washing Machine Door","server":"53d23819.50f298","entityidfilter":"binary_sensor.washing_machine_door_sensor","entityidfiltertype":"substring","haltifstate":"off","outputs":1,"x":120,"y":680,"wires":[["c4671dc9.94c3e"]]},{"id":"c4671dc9.94c3e","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washer","outputs":1,"x":340,"y":680,"wires":[["5b4de6f.42f5718"]]},{"id":"5b4de6f.42f5718","type":"switch","z":"1f49dcf4.505363","name":"Clean?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":680,"wires":[["1396c61d.aafe6a","4f0de895.487108","70599ee9.37563"]]},{"id":"1396c61d.aafe6a","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Idle","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.washer\", \"option\": \"Idle\" }","mergecontext":"","x":660,"y":660,"wires":[[]]},{"id":"4f0de895.487108","type":"api-call-service","z":"1f49dcf4.505363","name":"Clear Washer User","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\": \"input_select.washer_user\", \"option\": \"Unknown\" }","mergecontext":"","x":690,"y":700,"wires":[[]]},{"id":"8a401ff2.7498c","type":"comment","z":"1f49dcf4.505363","name":"Detect Washing Machine State","info":"","x":150,"y":360,"wires":[]},{"id":"dc7331c2.23bb5","type":"comment","z":"1f49dcf4.505363","name":"Notifications","info":"","x":90,"y":740,"wires":[]},{"id":"d85ac7e5.c7b038","type":"server-state-changed","z":"1f49dcf4.505363","name":"Washing Machine State","server":"53d23819.50f298","entityidfilter":"input_select.washer","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":1000,"wires":[["3526481c.d97c88"]]},{"id":"3526481c.d97c88","type":"switch","z":"1f49dcf4.505363","name":"Clean?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1000,"wires":[["537f948e.1af1ec"]]},{"id":"537f948e.1af1ec","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer User","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washer_user","outputs":1,"x":160,"y":860,"wires":[["41f1d681.ebead8","8caf7180.f193e"]]},{"id":"8caf7180.f193e","type":"switch","z":"1f49dcf4.505363","name":"Specific Users","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Hailey","vt":"str"},{"t":"eq","v":"Brett","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":360,"y":820,"wires":[["721d83d0.a74f1c","ae2fdfa4.a0d0c"],["bc4ceb5d.1f6bd8","1cfdac7a.ead324"]]},{"id":"23b7ec68.71a664","type":"switch","z":"5d446e23.e460b","name":"home / not_home","property":"data.state","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":80,"wires":[["cd1b9079.874ea","e0b93c8b.e4182"],["a2e7a8ce.862d68"]]},{"id":"4cf144b5.36e3fc","type":"api-current-state","z":"5d446e23.e460b","name":"Presense","server":"53d23819.50f298","halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"group.parents","state_type":"str","outputs":1,"x":240,"y":80,"wires":[["23b7ec68.71a664"]]},{"id":"a2e7a8ce.862d68","type":"stoptimer","z":"5d446e23.e460b","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":320,"y":140,"wires":[["4cf144b5.36e3fc"],[]]},{"id":"ce8ac10d.753d7","type":"switch","z":"1f49dcf4.505363","name":"home / not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":980,"wires":[["f454d742.3efd98"],["b21d9288.60b7f"]]},{"id":"bc4ceb5d.1f6bd8","type":"api-current-state","z":"1f49dcf4.505363","name":"Brett Presense","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"device_tracker.brett","outputs":1,"x":620,"y":980,"wires":[["ce8ac10d.753d7"]]},{"id":"b21d9288.60b7f","type":"stoptimer","z":"1f49dcf4.505363","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":1040,"wires":[["bc4ceb5d.1f6bd8"],[]]},{"id":"e59bf63b.d89c08","type":"comment","z":"bd4e515a.49e17","name":"Turn off fan in the morning","info":"","x":150,"y":60,"wires":[]},{"id":"a6066f72.7c6f3","type":"comment","z":"bd4e515a.49e17","name":"Turn off TV overnight, lights off at bedtime","info":"","x":200,"y":180,"wires":[]},{"id":"62eaa1fc.cb76f","type":"server-state-changed","z":"bd4e515a.49e17","name":"Master Bedroom Chromecast","server":"53d23819.50f298","entityidfilter":"media_player.master_bedroom","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":180,"y":240,"wires":[["bfad6673.fef7e8"]]},{"id":"4b428387.1488cc","type":"comment","z":"106227c8.38f8a8","name":"Turn off TV overnight","info":"","x":130,"y":40,"wires":[]},{"id":"2a8efc2b.270214","type":"server-state-changed","z":"106227c8.38f8a8","name":"Brett's Chromecast","server":"53d23819.50f298","entityidfilter":"media_player.bretts_room","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":150,"y":100,"wires":[["cab3e3e0.42211"]]},{"id":"cab3e3e0.42211","type":"stoptimer","z":"106227c8.38f8a8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":360,"y":100,"wires":[["422ab548.220a9c"],[]]},{"id":"422ab548.220a9c","type":"switch","z":"106227c8.38f8a8","name":"off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":100,"wires":[["66cde83b.056988"]]},{"id":"66cde83b.056988","type":"api-call-service","z":"106227c8.38f8a8","name":"Turn off TV","server":"53d23819.50f298","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.bretts_tv\"}","mergecontext":"","x":690,"y":100,"wires":[[]]},{"id":"d9670c77.d1a45","type":"server-state-changed","z":"a62e79d6.a8c258","name":"Living Room Chromecast","server":"53d23819.50f298","entityidfilter":"media_player.living_room","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":130,"y":100,"wires":[["1bff3742.605c99"]]},{"id":"1bff3742.605c99","type":"switch","z":"a62e79d6.a8c258","name":"playing?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":100,"wires":[["ca14ec6f.3c773"]]},{"id":"e074ddbd.a332a","type":"time-range-switch","z":"a62e79d6.a8c258","name":"Night","lat":"42.70511","lon":"-84.66614","startTime":"21:00","endTime":"3:00","startOffset":0,"endOffset":0,"x":650,"y":100,"wires":[["7123a5a.67e0e5c"],[]]},{"id":"ca14ec6f.3c773","type":"api-current-state","z":"a62e79d6.a8c258","name":"Guest Mode Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":true,"entity_id":"input_boolean.guest_mode","outputs":1,"x":490,"y":100,"wires":[["e074ddbd.a332a"]]},{"id":"ee0bb370.af86f","type":"comment","z":"a62e79d6.a8c258","name":"Dim lights when watching TV at night","info":"","x":170,"y":40,"wires":[]},{"id":"b74f6600.4f6568","type":"bigtimer","z":"29d1a4f6.8693cc","outtopic":"","outpayload1":"on","outpayload2":"","name":"On before Sunset","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"5004","endtime":"30","startoff":"-10","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":240,"wires":[["85e09b36.f1cb58"],[],[]]},{"id":"1612febc.937fc1","type":"stoptimer","z":"29d1a4f6.8693cc","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":460,"y":120,"wires":[["64d6a86a.183f88"],[]]},{"id":"5c03568f.73aa68","type":"server-state-changed","z":"29d1a4f6.8693cc","name":"Lock Status","server":"53d23819.50f298","entityidfilter":"lock.front_door_lock","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":90,"y":120,"wires":[["be937f32.6291e"]]},{"id":"64d6a86a.183f88","type":"switch","z":"29d1a4f6.8693cc","name":"unlocked?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":120,"wires":[["e45d0c86.4588f","598fcafd.db46e4"]]},{"id":"e45d0c86.4588f","type":"time-range-switch","z":"29d1a4f6.8693cc","name":"Overnight","lat":"42.70511","lon":"-84.66614","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":820,"y":120,"wires":[["85e09b36.f1cb58"],[]]},{"id":"810ffa82.72d598","type":"comment","z":"29d1a4f6.8693cc","name":"Keep locked overnight or away","info":"","x":150,"y":60,"wires":[]},{"id":"29a682b7.386b8e","type":"comment","z":"29d1a4f6.8693cc","name":"Lock at sunset","info":"","x":100,"y":180,"wires":[]},{"id":"b5fb7d23.e3c2f","type":"switch","z":"29d1a4f6.8693cc","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":260,"wires":[["4b9efef6.26ed1"],["c7b08af8.a32ce8"]]},{"id":"85e09b36.f1cb58","type":"api-current-state","z":"29d1a4f6.8693cc","name":"Front Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"binary_sensor.front_door_status","outputs":1,"x":510,"y":260,"wires":[["b5fb7d23.e3c2f"]]},{"id":"4b9efef6.26ed1","type":"stoptimer","z":"29d1a4f6.8693cc","duration":"1","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":320,"wires":[["85e09b36.f1cb58"],[]]},{"id":"c7b08af8.a32ce8","type":"api-call-service","z":"29d1a4f6.8693cc","name":"Lock Front Door","server":"53d23819.50f298","service_domain":"lock","service":"lock","data":"{ \"entity_id\": \"lock.front_door_lock\" }","mergecontext":"","x":780,"y":320,"wires":[["4f0b971f.a5a738"]]},{"id":"ac041011.6df63","type":"server-state-changed","z":"29d1a4f6.8693cc","name":"Presence","server":"53d23819.50f298","entityidfilter":"input_select.presence_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":80,"y":360,"wires":[["383613c5.1fd3cc"]]},{"id":"383613c5.1fd3cc","type":"switch","z":"29d1a4f6.8693cc","name":"Away?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":360,"wires":[["85e09b36.f1cb58"]]},{"id":"b1a32d30.a506","type":"comment","z":"29d1a4f6.8693cc","name":"Lock when leaving","info":"","x":110,"y":300,"wires":[]},{"id":"598fcafd.db46e4","type":"api-current-state","z":"29d1a4f6.8693cc","name":"Current Presense State","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.presence_status","outputs":1,"x":830,"y":80,"wires":[["ba7c6c64.fff7b"]]},{"id":"ba7c6c64.fff7b","type":"switch","z":"29d1a4f6.8693cc","name":"Away?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":80,"wires":[["85e09b36.f1cb58"]]},{"id":"9a267c06.8349a","type":"server-state-changed","z":"f2b2b01a.4c095","name":"Presence","server":"53d23819.50f298","entityidfilter":"input_select.presence_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":100,"y":180,"wires":[["171cc176.dcd31f"]]},{"id":"171cc176.dcd31f","type":"switch","z":"f2b2b01a.4c095","name":"Away?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["f31c1ec9.44556"]]},{"id":"f31c1ec9.44556","type":"api-call-service","z":"f2b2b01a.4c095","name":"All Lights Off","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.all_lights_off\" }","mergecontext":"","x":410,"y":180,"wires":[[]]},{"id":"ef4e2da1.d542b","type":"comment","z":"f2b2b01a.4c095","name":"All lights off when away","info":"","x":120,"y":140,"wires":[]},{"id":"91728234.3aa04","type":"server-state-changed","z":"f2b2b01a.4c095","name":"Stair Lights","server":"53d23819.50f298","entityidfilter":"light.stairs","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":100,"y":300,"wires":[["834c480.00483b8"]]},{"id":"834c480.00483b8","type":"stoptimer","z":"f2b2b01a.4c095","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":260,"y":300,"wires":[["4b48fc70.3bf604"],[]]},{"id":"4b48fc70.3bf604","type":"api-current-state","z":"f2b2b01a.4c095","name":"Current Light Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"light.stairs","outputs":1,"x":480,"y":300,"wires":[["da0160b8.cc5de"]]},{"id":"da0160b8.cc5de","type":"switch","z":"f2b2b01a.4c095","name":"on?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":300,"wires":[["ab39ca00.deab88"]]},{"id":"ab39ca00.deab88","type":"switch","z":"f2b2b01a.4c095","name":"Brightness Level","property":"data.attributes.brightness","propertyType":"msg","rules":[{"t":"lte","v":"230","vt":"num"},{"t":"gt","v":"230","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":360,"wires":[["68318e24.2b663"],["c22fb213.c1dfe"]]},{"id":"68318e24.2b663","type":"stoptimer","z":"f2b2b01a.4c095","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":760,"y":360,"wires":[["4b48fc70.3bf604"],[]]},{"id":"c22fb213.c1dfe","type":"api-call-service","z":"f2b2b01a.4c095","name":"Lower Light Brightness","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.stairs\", \"brightness_pct\": 60 }","mergecontext":"","x":530,"y":380,"wires":[["68318e24.2b663"]]},{"id":"95b1f13b.9c994","type":"comment","z":"f2b2b01a.4c095","name":"Don't allow stair lights to stay at full brightness","info":"","x":200,"y":240,"wires":[]},{"id":"a1b8fdc.7416a","type":"server-state-changed","z":"f2b2b01a.4c095","name":"Presence","server":"53d23819.50f298","entityidfilter":"input_select.presence_status","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":100,"y":80,"wires":[["8fee3b66.ecc818"]]},{"id":"8fee3b66.ecc818","type":"switch","z":"f2b2b01a.4c095","name":"Just Returned?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Just Returned","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":80,"wires":[["5758d6f7.b1e648"]]},{"id":"72219d4f.296964","type":"comment","z":"f2b2b01a.4c095","name":"Lights on when returning home","info":"","x":150,"y":40,"wires":[]},{"id":"bfad6673.fef7e8","type":"switch","z":"bd4e515a.49e17","name":"playing?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":240,"wires":[["bc5e7c8c.f0c1b","780ab976.cd37b8","ef2568cb.115988"]]},{"id":"e962e498.e531a8","type":"server-state-changed","z":"3eb84805.5f2958","name":"Laundry Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.laundry_motion_sensor","entityidfiltertype":"substring","haltifstate":"","outputs":1,"x":120,"y":1340,"wires":[["32f115c.24854ea"]]},{"id":"32f115c.24854ea","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":1340,"wires":[["45c8c59e.631d7c"],["72a46c5c.1aa7e4"]]},{"id":"45c8c59e.631d7c","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Laundry Light","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{ \"entity_id\": \"light.laundry_room_lights\", \"brightness_pct\" : 80}","mergecontext":"","x":560,"y":1320,"wires":[[]]},{"id":"72a46c5c.1aa7e4","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Laundry Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{ \"entity_id\": \"light.laundry_room_lights\" }","mergecontext":"","x":560,"y":1360,"wires":[[]]},{"id":"11491e0a.6b5c12","type":"comment","z":"3eb84805.5f2958","name":"Laundry","info":"","x":90,"y":1280,"wires":[]},{"id":"142fd8c.854e427","type":"api-current-state","z":"bd4e515a.49e17","name":"Current Chromecast Status","server":"53d23819.50f298","halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"media_player.master_bedroom","state_type":"str","outputs":1,"x":480,"y":300,"wires":[["bc5e7c8c.f0c1b"]]},{"id":"bc5e7c8c.f0c1b","type":"switch","z":"bd4e515a.49e17","name":"off?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":260,"wires":[["e5fd22c1.55c13"],["1632ba1e.e02376"]]},{"id":"e5fd22c1.55c13","type":"api-call-service","z":"bd4e515a.49e17","name":"Turn off TV","server":"53d23819.50f298","service_domain":"switch","service":"turn_off","data":"{\"entity_id\": \"switch.master_bedroom_tv\"}","mergecontext":"","x":850,"y":260,"wires":[[]]},{"id":"1632ba1e.e02376","type":"stoptimer","z":"bd4e515a.49e17","duration":"8","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":720,"y":380,"wires":[["142fd8c.854e427"],[]]},{"id":"be937f32.6291e","type":"api-current-state","z":"29d1a4f6.8693cc","name":"Guest Mode Status","server":"53d23819.50f298","halt_if":"on","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.guest_mode","state_type":"str","outputs":2,"x":270,"y":120,"wires":[["1612febc.937fc1"],[]]},{"id":"d12adfc.6ad6a2","type":"server-state-changed","z":"29d1a4f6.8693cc","name":"Lock Status","server":"53d23819.50f298","entityidfilter":"lock.front_door_lock","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":90,"y":500,"wires":[["e202d788.b73e58"]]},{"id":"e202d788.b73e58","type":"switch","z":"29d1a4f6.8693cc","name":"Which User","property":"data.new_state.attributes.lock_status","propertyType":"msg","rules":[{"t":"eq","v":"Unlocked with Keypad by user 1","vt":"str"},{"t":"eq","v":"Unlocked with Keypad by user 2","vt":"str"},{"t":"eq","v":"Unlocked with Keypad by user 3","vt":"str"},{"t":"eq","v":"Unlocked with Keypad by user 4","vt":"str"},{"t":"eq","v":"Unlocked with Keypad by user 5","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":290,"y":500,"wires":[["7da8833e.de42bc","bc0f01f.f2122"],["511e923b.169e8c","bc0f01f.f2122"],["903c5ad3.55ffd8","bc0f01f.f2122"],["3567910f.252b7e","bc0f01f.f2122"],["bc0f01f.f2122"]],"outputLabels":["Cameron","Rachael","Hailey","Brett","Other"]},{"id":"5ece984d.54ba28","type":"comment","z":"29d1a4f6.8693cc","name":"Lights On and Message Played When Unlocked From Outside","info":"","x":240,"y":420,"wires":[]},{"id":"7da8833e.de42bc","type":"change","z":"29d1a4f6.8693cc","name":"Cameron","rules":[{"t":"set","p":"user","pt":"msg","to":"Cameron","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["8715b586.df6928"]]},{"id":"3567910f.252b7e","type":"change","z":"29d1a4f6.8693cc","name":"Brett","rules":[{"t":"set","p":"user","pt":"msg","to":"Brett","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":600,"wires":[["8715b586.df6928"]]},{"id":"511e923b.169e8c","type":"change","z":"29d1a4f6.8693cc","name":"Rachael","rules":[{"t":"set","p":"user","pt":"msg","to":"Rachael","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":520,"wires":[["8715b586.df6928"]]},{"id":"903c5ad3.55ffd8","type":"change","z":"29d1a4f6.8693cc","name":"Hailey","rules":[{"t":"set","p":"user","pt":"msg","to":"Hailey","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":560,"wires":[["8715b586.df6928"]]},{"id":"8715b586.df6928","type":"stoptimer","z":"29d1a4f6.8693cc","duration":"4","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":700,"y":540,"wires":[["f49084ca.c47fe8"],[]]},{"id":"a3d066eb.3fba28","type":"function","z":"1f49dcf4.505363","name":"Get User","func":"String.prototype.capitalize = function() {\n    return this.charAt(0).toUpperCase() + this.slice(1);\n}\n\nconst user = msg.topic.split('/')[1].capitalize();\n\n\nmsg.payload = {\n    data:  {\n        option: user\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["cabc287b.28e6a8"]]},{"id":"62ab8c84.6e2de4","type":"server-state-changed","z":"6cf8ffff.cf7a8","name":"Presense","server":"53d23819.50f298","entityidfilter":"input_select.presence_status","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":100,"y":320,"wires":[["998e7cb4.35c9f"]]},{"id":"998e7cb4.35c9f","type":"switch","z":"6cf8ffff.cf7a8","name":"Home / Away","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Home","vt":"str"},{"t":"eq","v":"Away","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":320,"wires":[["7a66890d.6c1328"],["a795b85b.b90ed8"]]},{"id":"7a66890d.6c1328","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set Torrents to Home","server":"53d23819.50f298","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.qbittorrent\"}","render_data":false,"mergecontext":"","x":560,"y":300,"wires":[[]]},{"id":"a795b85b.b90ed8","type":"api-call-service","z":"6cf8ffff.cf7a8","name":"Set Torrents to Away","server":"53d23819.50f298","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.qbittorrent\"}","render_data":false,"mergecontext":"","x":560,"y":340,"wires":[[]]},{"id":"efc91ba1.191388","type":"function","z":"97ad0127.f1ef9","name":"Current Alert Status","func":"const hass = global.get('homeassistant').homeAssistant;\n\nlet alerts = [];\n\nfor (let i in hass.states) {\n    if (i.substr(0, 19) === 'input_boolean.alert') {\n        if (hass.states[i].state === 'on') {\n            alerts.push(i);\n        }\n    }\n}\n\nconst status = alerts.length > 0 ? 'on' : 'off';\n\nnode.status({fill: 'green', text: status + ' at: ' + getPrettyDate()});\n\nreturn {'payload': status};\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric'\n    });\n}","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["a662942c.30b828"]]},{"id":"5ca97814.793848","type":"server-state-changed","z":"97ad0127.f1ef9","name":"Playback Alerts","server":"53d23819.50f298","entityidfilter":"input_boolean.playback_alerts","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"off","outputs":1,"x":100,"y":640,"wires":[["d3454e46.15795"]]},{"id":"1c2da6ec.cd0759","type":"api-render-template","z":"97ad0127.f1ef9","name":"Alert Template","server":"53d23819.50f298","template":"{% for alert in states.input_boolean if alert.attributes.color and alert.state == 'on' %}{% if alert.attributes.color and alert.state == 'on' -%}\n    {%- if loop.first %}Currently, {% elif loop.last %}, and {% else %}, {% endif -%}\n        {{ alert.attributes.descrip }}{%if loop.last%}.{% endif %}\n    {%- endif %}\n{% else %}\n    {{\" There are no current alerts.\"}}\n{%- endfor %}","x":500,"y":640,"wires":[["f2b60039.47edf"]]},{"id":"d3454e46.15795","type":"api-call-service","z":"97ad0127.f1ef9","name":"Turn off Playback Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.playback_alerts\"}","render_data":false,"mergecontext":"","x":300,"y":640,"wires":[["1c2da6ec.cd0759"]]},{"id":"f2b60039.47edf","type":"delay","z":"97ad0127.f1ef9","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":640,"wires":[["454d4ac.3a7bcb4"]]},{"id":"c778ee81.3d305","type":"server-state-changed","z":"732ed9aa.947bd8","name":"Aloe Plant Moisture","server":"53d23819.50f298","entityidfilter":"sensor.aloe_plant_moisture","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":110,"y":100,"wires":[["84bc8241.3b2b9"]]},{"id":"84bc8241.3b2b9","type":"switch","z":"732ed9aa.947bd8","name":"Levels","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"20","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":270,"y":100,"wires":[[],["39e14d76.f26342"],["5535e9bb.a4b4b8"]],"outputLabels":["0","Good","Too Low"]},{"id":"39e14d76.f26342","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_aloe_plant\"}","render_data":false,"mergecontext":"","x":430,"y":60,"wires":[[]]},{"id":"fdf3e09f.b5689","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_aloe_plant\"}","render_data":false,"mergecontext":"","x":610,"y":80,"wires":[[]]},{"id":"5535e9bb.a4b4b8","type":"api-current-state","z":"732ed9aa.947bd8","name":"Current Alert Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.alert_aloe_plant","outputs":1,"x":430,"y":140,"wires":[["fdf3e09f.b5689","ef206a4e.856098"]]},{"id":"ef206a4e.856098","type":"function","z":"732ed9aa.947bd8","name":"Format message","func":"var level = msg.payload;\n\nmsg.payload = 'The aloe plant moisture is at ' + level + '% and needs to be watered.';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["e3a6db09.98cf28"]]},{"id":"d211af64.190d1","type":"server-state-changed","z":"732ed9aa.947bd8","name":"Bathroom Plant Moisture","server":"53d23819.50f298","entityidfilter":"sensor.bathroom_plant_moisture","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":130,"y":260,"wires":[["d9592a23.3ff928"]]},{"id":"d9592a23.3ff928","type":"switch","z":"732ed9aa.947bd8","name":"Levels","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"24","vt":"num"},{"t":"lt","v":"18","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":310,"y":260,"wires":[[],["592856a8.1e1ce8"],["28e93914.005036"]],"outputLabels":["0","Good","Too Low"]},{"id":"592856a8.1e1ce8","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_bathroom_plant\"}","render_data":false,"mergecontext":"","x":450,"y":200,"wires":[[]]},{"id":"2eb7f068.55b21","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_bathroom_plant\"}","render_data":false,"mergecontext":"","x":630,"y":240,"wires":[[]]},{"id":"28e93914.005036","type":"api-current-state","z":"732ed9aa.947bd8","name":"Current Alert Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.alert_bathroom_plant","outputs":1,"x":470,"y":300,"wires":[["2eb7f068.55b21","b673f113.1649"]]},{"id":"b673f113.1649","type":"function","z":"732ed9aa.947bd8","name":"Format message","func":"var level = msg.payload;\n\nmsg.payload = 'The bathroom plant moisture is at ' + level + '% and needs to be watered.';\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["ee581f78.1aa16"]]},{"id":"841cb6c3.504d38","type":"server-state-changed","z":"732ed9aa.947bd8","name":"Living Room Plant Moisture","server":"53d23819.50f298","entityidfilter":"sensor.living_room_moisture","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":140,"y":400,"wires":[["ac3f379.f4f7fc8"]]},{"id":"ac3f379.f4f7fc8","type":"switch","z":"732ed9aa.947bd8","name":"Levels","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"24","vt":"num"},{"t":"lt","v":"18","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":400,"wires":[[],["f2b678e5.f83958"],["9e905729.cd44b8"]],"outputLabels":["0","Good","Too Low"]},{"id":"f2b678e5.f83958","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_living_room_plant\"}","render_data":false,"mergecontext":"","x":470,"y":360,"wires":[[]]},{"id":"5d385ce.8dcf9a4","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_living_room_plant\"}","render_data":false,"mergecontext":"","x":670,"y":380,"wires":[[]]},{"id":"9e905729.cd44b8","type":"api-current-state","z":"732ed9aa.947bd8","name":"Current Alert Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.alert_living_room_plant","outputs":1,"x":490,"y":440,"wires":[["5d385ce.8dcf9a4","18f40851.96be98"]]},{"id":"18f40851.96be98","type":"function","z":"732ed9aa.947bd8","name":"Format message","func":"var level = msg.payload;\n\nmsg.payload = 'The living room plant moisture is at ' + level + '% and needs to be watered.';\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["f1a02bf8.cc3268"]]},{"id":"987c5a3a.155bb8","type":"server-state-changed","z":"732ed9aa.947bd8","name":"Master Bedroom Plant Moisture","server":"53d23819.50f298","entityidfilter":"sensor.master_bedroom_moisture","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":150,"y":540,"wires":[["13c6932e.b3bedd"]]},{"id":"13c6932e.b3bedd","type":"switch","z":"732ed9aa.947bd8","name":"Levels","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"24","vt":"num"},{"t":"lt","v":"18","vt":"num"}],"checkall":"false","repair":false,"outputs":3,"x":350,"y":540,"wires":[[],["b871427c.bf4a9"],["994072e6.81743"]],"outputLabels":["0","Good","Too Low"]},{"id":"b871427c.bf4a9","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_master_bedroom_plant\"}","render_data":false,"mergecontext":"","x":490,"y":500,"wires":[[]]},{"id":"c8cd54ec.b3c278","type":"api-call-service","z":"732ed9aa.947bd8","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_master_bedroom_plant\"}","render_data":false,"mergecontext":"","x":670,"y":520,"wires":[[]]},{"id":"994072e6.81743","type":"api-current-state","z":"732ed9aa.947bd8","name":"Current Alert Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":false,"override_data":true,"entity_id":"input_boolean.alert_master_bedroom_plant","outputs":1,"x":510,"y":580,"wires":[["c8cd54ec.b3c278","d523d061.0f6be"]]},{"id":"d523d061.0f6be","type":"function","z":"732ed9aa.947bd8","name":"Format message","func":"var level = msg.payload;\n\nmsg.payload = 'The master bedroom plant moisture is at ' + level + '% and needs to be watered.';\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["df857b81.1afc08"]]},{"id":"3ec062e9.f4c64e","type":"stoptimer","z":"1f49dcf4.505363","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":150,"y":1140,"wires":[["548e8fdd.d2a39"],[]]},{"id":"548e8fdd.d2a39","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washer","outputs":1,"x":220,"y":1220,"wires":[["9e1a6a21.5284a8"]]},{"id":"9e1a6a21.5284a8","type":"switch","z":"1f49dcf4.505363","name":"Clean?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1220,"wires":[["3ec062e9.f4c64e","10632fb9.6cb6e"]]},{"id":"fb11e4ed.e98628","type":"function","z":"1f49dcf4.505363","name":"Format message","func":"var user = msg.payload;\n\nmsg.payload = 'Clean clothes left in washer for ' + user;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":1280,"wires":[["67a0e688.628a88"]]},{"id":"6b2bd4eb.d6268c","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer User","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_select.washer_user","outputs":1,"x":400,"y":1280,"wires":[["fb11e4ed.e98628"]]},{"id":"10632fb9.6cb6e","type":"api-current-state","z":"1f49dcf4.505363","name":"Parent Presense Status","server":"53d23819.50f298","halt_if":"not_home","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.parents","outputs":1,"x":150,"y":1280,"wires":[["6b2bd4eb.d6268c"]]},{"id":"c48f2fe2.5235a","type":"function","z":"97ad0127.f1ef9","name":"Current Alert Status","func":"const hass = global.get('homeassistant').homeAssistant;\n\nlet alerts = [];\n\nfor (let i in hass.states) {\n    if (i.substr(0, 19) === 'input_boolean.alert') {\n        if (hass.states[i].state === 'on') {\n            alerts.push(i);\n        }\n    }\n}\n\nconst status = alerts.length > 0 ? 'on' : 'off';\n\nnode.status({fill: 'green', text: status + ' at: ' + getPrettyDate()});\n\nreturn {'payload': status};\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric'\n    });\n}","outputs":1,"noerr":0,"x":810,"y":480,"wires":[["454d4ac.3a7bcb4"]]},{"id":"2b08bcca.33e644","type":"comment","z":"2c67107c.3ec8b","name":"Guest Mode Left On","info":"","x":130,"y":60,"wires":[]},{"id":"f81a962.6593468","type":"server-state-changed","z":"2c67107c.3ec8b","name":"Guest mode","server":"53d23819.50f298","entityidfilter":"input_boolean.guest_mode","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":120,"wires":[["91f9188a.210368"]]},{"id":"91f9188a.210368","type":"stoptimer","z":"2c67107c.3ec8b","duration":"8","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":290,"y":120,"wires":[["df30f974.ba5ac8"],[]]},{"id":"df30f974.ba5ac8","type":"api-current-state","z":"2c67107c.3ec8b","name":"Current Guest Mode Status","server":"53d23819.50f298","halt_if":"off","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.guest_mode","outputs":1,"x":520,"y":80,"wires":[["6b0b365e.52bf28","44ecd8ba.24b208"]]},{"id":"6b0b365e.52bf28","type":"stoptimer","z":"2c67107c.3ec8b","duration":"1.5","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":620,"y":140,"wires":[["df30f974.ba5ac8"],[]]},{"id":"7337f44d.ceccfc","type":"comment","z":"2c67107c.3ec8b","name":"Christmas Tree Water","info":"","x":140,"y":200,"wires":[]},{"id":"cb2dd7af.a3f1f8","type":"server-state-changed","z":"2c67107c.3ec8b","name":"Christmas Tree Water","server":"53d23819.50f298","entityidfilter":"binary_sensor.christmas_tree_water_sensor","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":260,"wires":[["17eeb386.b1895c"]]},{"id":"17eeb386.b1895c","type":"stoptimer","z":"2c67107c.3ec8b","duration":"8","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":350,"y":260,"wires":[["b3daef0c.27fdf"],[]]},{"id":"b3daef0c.27fdf","type":"api-current-state","z":"2c67107c.3ec8b","name":"Current Water Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.christmas_tree_water_sensor","outputs":1,"x":560,"y":260,"wires":[["889b9a0f.cf6bd8"]]},{"id":"889b9a0f.cf6bd8","type":"function","z":"2c67107c.3ec8b","name":"Format message","func":"msg.payload = 'Christmas tree needs water';\n\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["5e9e56e2.178518"]]},{"id":"b8d593ef.73279","type":"api-call-service","z":"735ccac0.9545d4","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_front_door\"}","render_data":false,"mergecontext":"","x":670,"y":60,"wires":[[]]},{"id":"a36111b4.f473e","type":"comment","z":"735ccac0.9545d4","name":"Front Door Alerts","info":"","x":120,"y":60,"wires":[]},{"id":"6fe02eb3.e5354","type":"server-state-changed","z":"735ccac0.9545d4","name":"Front Door","server":"53d23819.50f298","entityidfilter":"binary_sensor.front_door_status","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":120,"y":120,"wires":[["2d56c914.18fbf6"]]},{"id":"2d56c914.18fbf6","type":"stoptimer","z":"735ccac0.9545d4","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":300,"y":120,"wires":[["1b6b0900.c703d7"],[]]},{"id":"1b6b0900.c703d7","type":"switch","z":"735ccac0.9545d4","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":120,"wires":[["b8d593ef.73279","23e82ab9.017956"],["b6b8d435.996fe8"]]},{"id":"b6b8d435.996fe8","type":"api-call-service","z":"735ccac0.9545d4","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_front_door\"}","render_data":false,"mergecontext":"","x":670,"y":160,"wires":[[]]},{"id":"3b48156d.76baea","type":"api-call-service","z":"735ccac0.9545d4","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_back_door\"}","render_data":false,"mergecontext":"","x":670,"y":220,"wires":[[]]},{"id":"30487cc6.7f4aa4","type":"comment","z":"735ccac0.9545d4","name":"Back Door Alerts","info":"","x":120,"y":220,"wires":[]},{"id":"7502acf9.913144","type":"server-state-changed","z":"735ccac0.9545d4","name":"Back Door","server":"53d23819.50f298","entityidfilter":"binary_sensor.back_door_status","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":120,"y":280,"wires":[["dac3f4ee.26ec18"]]},{"id":"dac3f4ee.26ec18","type":"stoptimer","z":"735ccac0.9545d4","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":300,"y":280,"wires":[["d7b592a6.736ef"],[]]},{"id":"d7b592a6.736ef","type":"switch","z":"735ccac0.9545d4","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":280,"wires":[["3b48156d.76baea","c6fa274f.340d78"],["5bd65e47.acce6"]]},{"id":"5bd65e47.acce6","type":"api-call-service","z":"735ccac0.9545d4","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_back_door\"}","render_data":false,"mergecontext":"","x":670,"y":320,"wires":[[]]},{"id":"a6010482.261c08","type":"api-call-service","z":"1f49dcf4.505363","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_washer\"}","render_data":false,"mergecontext":"","x":690,"y":560,"wires":[[]]},{"id":"70599ee9.37563","type":"api-call-service","z":"1f49dcf4.505363","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_washer\"}","render_data":false,"mergecontext":"","x":670,"y":740,"wires":[[]]},{"id":"1937679c.806be8","type":"server-state-changed","z":"1f49dcf4.505363","name":"Washing Machine State","server":"53d23819.50f298","entityidfilter":"input_select.washer","entityidfiltertype":"substring","outputinitially":true,"haltifstate":"","outputs":1,"x":120,"y":1040,"wires":[["7df7af8f.5e327"]]},{"id":"7df7af8f.5e327","type":"switch","z":"1f49dcf4.505363","name":"Clean?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Clean","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":1040,"wires":[["3ec062e9.f4c64e"]]},{"id":"4755c43.d9b663c","type":"server-events","z":"d94b56bf.1ffec8","name":"Click","server":"53d23819.50f298","event_type":"xiaomi_aqara.click","x":90,"y":460,"wires":[["a744ae47.ce4b9"]]},{"id":"a744ae47.ce4b9","type":"switch","z":"d94b56bf.1ffec8","name":"What button","property":"payload.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"binary_sensor.switch_158d0002132898","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":250,"y":460,"wires":[["9a2cca4d.6f4978"]],"outputLabels":["Pasta Part"]},{"id":"9a2cca4d.6f4978","type":"api-current-state","z":"d94b56bf.1ffec8","name":"Current Alert Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"input_boolean.alert_pasta_part","outputs":1,"x":450,"y":460,"wires":[["ce870051.5965c"]]},{"id":"ce870051.5965c","type":"switch","z":"d94b56bf.1ffec8","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":640,"y":460,"wires":[["8eb51027.7474"],["2c2e429b.061c2e"]]},{"id":"8eb51027.7474","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_pasta_part\"}","render_data":false,"mergecontext":"","x":810,"y":420,"wires":[[]]},{"id":"2c2e429b.061c2e","type":"stoptimer","z":"d94b56bf.1ffec8","duration":"2","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":810,"y":480,"wires":[["e52e5116.6f65f"],[]]},{"id":"e52e5116.6f65f","type":"api-call-service","z":"d94b56bf.1ffec8","name":"Turn on Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_pasta_part\"}","render_data":false,"mergecontext":"","x":990,"y":480,"wires":[[]]},{"id":"7af1956.65c896c","type":"comment","z":"d94b56bf.1ffec8","name":"Pasta Part Button","info":"","x":110,"y":400,"wires":[]},{"id":"8cf55c02.7aac8","type":"server-state-changed","z":"922dda66.355ea8","name":"Vacuum Bin Full","server":"53d23819.50f298","entityidfilter":"sensor.vacuum_bin_full","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":440,"wires":[["1f4f8b8e.9f9f74"]]},{"id":"1f4f8b8e.9f9f74","type":"switch","z":"922dda66.355ea8","name":"True / False","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":440,"wires":[["62020c9f.4399a4"],["1b924888.edd827"]]},{"id":"1b924888.edd827","type":"api-call-service","z":"922dda66.355ea8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.alert_roomba_full\"}","render_data":false,"mergecontext":"","x":530,"y":460,"wires":[[]]},{"id":"62020c9f.4399a4","type":"api-call-service","z":"922dda66.355ea8","name":"Turn off Alert","server":"53d23819.50f298","service_domain":"input_boolean","service":"turn_on","data":"{\"entity_id\":\"input_boolean.alert_roomba_full\"}","render_data":false,"mergecontext":"","x":530,"y":400,"wires":[[]]},{"id":"e7a3be2b.137b7","type":"server-state-changed","z":"47a03812.d50eb8","name":"Basement Window","server":"53d23819.50f298","entityidfilter":"sensor.basement_window_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":150,"y":80,"wires":[["ebd18d69.32fe6"]]},{"id":"5ed7cf6e.67b04","type":"server-state-changed","z":"47a03812.d50eb8","name":"Aloe Plant","server":"53d23819.50f298","entityidfilter":"sensor.aloe_plant_battery","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":40,"wires":[["c01358c.c4195a8"]]},{"id":"4e28b901.707f98","type":"server-state-changed","z":"47a03812.d50eb8","name":"Pasta Part","server":"53d23819.50f298","entityidfilter":"sensor.pasta_part_button_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":600,"wires":[["f43f04df.185eb8"]]},{"id":"a0bcf966.0cc188","type":"server-state-changed","z":"47a03812.d50eb8","name":"Rear Door","server":"53d23819.50f298","entityidfilter":"sensor.rear_door_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":640,"wires":[["a2b6b17a.f3ec5"]]},{"id":"a00e507a.8f8ee","type":"server-state-changed","z":"47a03812.d50eb8","name":"Living Room Plant","server":"53d23819.50f298","entityidfilter":"sensor.living_room_battery","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":150,"y":440,"wires":[["95990454.fdcbc8"]]},{"id":"8a40aef5.b5756","type":"server-state-changed","z":"47a03812.d50eb8","name":"Front Door","server":"53d23819.50f298","entityidfilter":"sensor.front_door_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":240,"wires":[["d9fdc4e.648dd38"]]},{"id":"a5556286.38f11","type":"server-state-changed","z":"47a03812.d50eb8","name":"Front Door Lock","server":"53d23819.50f298","entityidfilter":"sensor.front_door_lock_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":280,"wires":[["462ef328.03544c"]]},{"id":"b6423838.facea8","type":"server-state-changed","z":"47a03812.d50eb8","name":"Breakfast Bar Motion","server":"53d23819.50f298","entityidfilter":"sensor.breakfast_bar_motion_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":160,"wires":[["76c304b3.b8562c"]]},{"id":"973c24d4.7048f8","type":"server-state-changed","z":"47a03812.d50eb8","name":"Bathroom Plant","server":"53d23819.50f298","entityidfilter":"sensor.bathroom_plant_battery","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":120,"wires":[["dd2e1e54.2ffb8"]]},{"id":"4456779c.fc9738","type":"server-state-changed","z":"47a03812.d50eb8","name":"Stairs Motion","server":"53d23819.50f298","entityidfilter":"sensor.stairs_motion_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":130,"y":680,"wires":[["386e56a8.5ef10a"]]},{"id":"792e5617.b447e8","type":"server-state-changed","z":"47a03812.d50eb8","name":"Master Bedroom Plant","server":"53d23819.50f298","entityidfilter":"sensor.master_bedroom_battery","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":560,"wires":[["122efe84.1abb51"]]},{"id":"d109eab6.6fc138","type":"server-state-changed","z":"47a03812.d50eb8","name":"Master Bathroom Humidity","server":"53d23819.50f298","entityidfilter":"sensor.master_bathroom_sensor_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":170,"y":480,"wires":[["27c0139a.753f7c"]]},{"id":"434a8bde.6a1bc4","type":"server-state-changed","z":"47a03812.d50eb8","name":"Kid's Bathroom Motion","server":"53d23819.50f298","entityidfilter":"sensor.kids_bathroom_motion_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":360,"wires":[["2e39636.a3b799c"]]},{"id":"8d4933be.4ab92","type":"server-state-changed","z":"47a03812.d50eb8","name":"Laundry Room Motion","server":"53d23819.50f298","entityidfilter":"sensor.laundry_motion_sensor_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":400,"wires":[["ac69a884.03e5e8"]]},{"id":"fbdb3a4b.5f1328","type":"server-state-changed","z":"47a03812.d50eb8","name":"Master Bathroom Motion","server":"53d23819.50f298","entityidfilter":"sensor.master_bathroom_motion_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":170,"y":520,"wires":[["3c9131c4.bdb72e"]]},{"id":"c9cd6543.b4f6a8","type":"server-state-changed","z":"47a03812.d50eb8","name":"Downstairs Bathroom Motion","server":"53d23819.50f298","entityidfilter":"sensor.downstairs_bathroom_motion_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":180,"y":200,"wires":[["56d54e7e.bcc76"]]},{"id":"574696c4.e9b448","type":"server-state-changed","z":"47a03812.d50eb8","name":"Kid's Bathroom Humidity","server":"53d23819.50f298","entityidfilter":"sensor.kids_bathroom_sensor_batt","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":170,"y":320,"wires":[["e3a958df.01e688"]]},{"id":"c01358c.c4195a8","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":40,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"56a0e27d.69c2ac","type":"function","z":"47a03812.d50eb8","name":"Format message","func":"const entity = msg.topic;\nconst level = msg.payload;\nconst hass = global.get('homeassistant').homeAssistant;\n\nconst raw_friendly_name = hass.states[entity].attributes.friendly_name;\n\nconst name = raw_friendly_name.toLowerCase()\n    .replace(/_/g, ' ')\n    .split(' ')\n    .map((s) => s.charAt(0).toUpperCase() + s.substring(1))\n    .join(' ');\n\nmsg.payload =  name + ' is currently low, ' +\n                     'it is at ' + level + '%';\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["a5195631.1b2a78"]]},{"id":"27c0139a.753f7c","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":480,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"95990454.fdcbc8","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":440,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"ac69a884.03e5e8","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":400,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"2e39636.a3b799c","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":360,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"e3a958df.01e688","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":320,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"462ef328.03544c","type":"switch","z":"47a03812.d50eb8","name":"< 30%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"30","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":280,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"d9fdc4e.648dd38","type":"switch","z":"47a03812.d50eb8","name":"< 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"25","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":240,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"dd2e1e54.2ffb8","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":120,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"76c304b3.b8562c","type":"switch","z":"47a03812.d50eb8","name":"< 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":160,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"56d54e7e.bcc76","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":200,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"386e56a8.5ef10a","type":"switch","z":"47a03812.d50eb8","name":"< 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"25","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":680,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"a2b6b17a.f3ec5","type":"switch","z":"47a03812.d50eb8","name":"< 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"25","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":640,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"f43f04df.185eb8","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":600,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"122efe84.1abb51","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":560,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"3c9131c4.bdb72e","type":"switch","z":"47a03812.d50eb8","name":"< 15%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"15","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":520,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"ebd18d69.32fe6","type":"switch","z":"47a03812.d50eb8","name":"< 25%","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"lt","v":"25","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":80,"wires":[[],["56a0e27d.69c2ac"]],"outputLabels":["0","Too Low"]},{"id":"67fe42cb.3beacc","type":"comment","z":"2c67107c.3ec8b","name":"Set Home Assistant Themes","info":"","x":160,"y":340,"wires":[]},{"id":"5059d45.1dd812c","type":"sunrise","z":"2c67107c.3ec8b","name":"","lat":"42.79689","lon":"-84.61203","start":"sunrise","end":"sunset","x":140,"y":420,"wires":[[],["e222edd6.0cba8"]]},{"id":"e222edd6.0cba8","type":"switch","z":"2c67107c.3ec8b","name":"Sun rise/set","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":420,"wires":[["e65e327.9b351d"],["aacdb369.d7e4b"]],"outputLabels":["Sunrise","Sunset"]},{"id":"aacdb369.d7e4b","type":"api-call-service","z":"2c67107c.3ec8b","name":"Set Night Theme","server":"53d23819.50f298","service_domain":"frontend","service":"set_theme","data":"{\"name\":\"midnight\"}","render_data":false,"mergecontext":"","x":530,"y":440,"wires":[[]]},{"id":"e65e327.9b351d","type":"api-call-service","z":"2c67107c.3ec8b","name":"Set Day Theme","server":"53d23819.50f298","service_domain":"frontend","service":"set_theme","data":"{\"name\":\"default\"}","render_data":false,"mergecontext":"","x":520,"y":400,"wires":[[]]},{"id":"a340409b.a87ab","type":"comment","z":"f2b2b01a.4c095","name":"Indoor Holiday Lights","info":"","x":120,"y":400,"wires":[]},{"id":"8bd4d7e6.e726c8","type":"bigtimer","z":"f2b2b01a.4c095","outtopic":"","outpayload1":"on","outpayload2":"off","name":"On before Sunset / Off at 1am","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"5004","endtime":"60","startoff":"-8","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":460,"wires":[["79c523b.96ae0dc"],[],[]]},{"id":"79c523b.96ae0dc","type":"switch","z":"f2b2b01a.4c095","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":460,"wires":[["84b2485b.5dce68"],["6b99e672.cf1718"]]},{"id":"84b2485b.5dce68","type":"api-call-service","z":"f2b2b01a.4c095","name":"Turn on Indoor Holiday Lights","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_holiday_lights_on\"}","render_data":false,"mergecontext":"","x":630,"y":440,"wires":[[]]},{"id":"6b99e672.cf1718","type":"api-call-service","z":"f2b2b01a.4c095","name":"Turn off Indoor Holiday Lights","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_holiday_lights_off\"}","render_data":false,"mergecontext":"","x":630,"y":480,"wires":[[]]},{"id":"5dd493a9.e843cc","type":"server-state-changed","z":"ff30c48f.6f9e18","name":"Breakfast Bar Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.breakfast_bar_sensor","entityidfiltertype":"substring","outputinitially":false,"haltifstate":"","outputs":1,"x":160,"y":80,"wires":[["2aaf0c19.0ae6f4"]]},{"id":"6867d888.801aa8","type":"comment","z":"ff30c48f.6f9e18","name":"Kitchen Lights on at Night","info":"","x":150,"y":40,"wires":[]},{"id":"2aaf0c19.0ae6f4","type":"time-range-switch","z":"ff30c48f.6f9e18","name":"1am - 8am","lat":"42.79692","lon":"-84.61209","startTime":"1:00","endTime":"8:00","startOffset":0,"endOffset":0,"x":370,"y":80,"wires":[["9ce03488.d00a78","6f8777c3.993458"],[]]},{"id":"9ce03488.d00a78","type":"switch","z":"ff30c48f.6f9e18","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":80,"wires":[["5c0da4.3d2ab25c"],[]]},{"id":"6f8777c3.993458","type":"stoptimer","z":"ff30c48f.6f9e18","duration":"7","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":120,"wires":[["82ec56f0.263ce8"],[]]},{"id":"82ec56f0.263ce8","type":"api-current-state","z":"ff30c48f.6f9e18","name":"Current Motion Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.breakfast_bar_sensor","outputs":1,"x":540,"y":160,"wires":[["ee9f6d29.c200f"]]},{"id":"ee9f6d29.c200f","type":"switch","z":"ff30c48f.6f9e18","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":160,"wires":[["6f8777c3.993458"],["657b812a.39da1","37104f30.5e4e9"]]},{"id":"582feb3e.358064","type":"comment","z":"97d8f6bb.b25968","name":"Loft lights on at night","info":"","x":120,"y":40,"wires":[]},{"id":"88c5419b.d1573","type":"bigtimer","z":"97d8f6bb.b25968","outtopic":"","outpayload1":"on","outpayload2":"off","name":"On at 10pm / Off at 1am","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"1320","endtime":"60","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":false,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":100,"wires":[["8814f03b.a4e5e"],[],[]]},{"id":"8814f03b.a4e5e","type":"switch","z":"97d8f6bb.b25968","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":100,"wires":[["9152ed17.9f75c"],["b82f788c.df8128","c85e98d0.df6f78"]]},{"id":"9152ed17.9f75c","type":"api-current-state","z":"97d8f6bb.b25968","name":"Kid's Presense Status","server":"53d23819.50f298","halt_if":"not_home","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.kids","outputs":1,"x":560,"y":60,"wires":[["b7b01de0.e4c06"]]},{"id":"c8fa0f51.5abd7","type":"comment","z":"97d8f6bb.b25968","name":"Loft lights on in the morning","info":"","x":140,"y":180,"wires":[]},{"id":"452fae51.2d1f2","type":"bigtimer","z":"97d8f6bb.b25968","outtopic":"","outpayload1":"on","outpayload2":"off","name":"On at 6:30am / Off at 7:30am","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"390","endtime":"450","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":160,"y":240,"wires":[["9d999020.fb562"],[],[]]},{"id":"9d999020.fb562","type":"switch","z":"97d8f6bb.b25968","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":240,"wires":[["c9cf1850.8b08c8"],["83398d70.e48c8","408daa81.10bff4"]]},{"id":"c9cf1850.8b08c8","type":"api-current-state","z":"97d8f6bb.b25968","name":"Kid's Presense Status","server":"53d23819.50f298","halt_if":"not_home","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"group.kids","outputs":1,"x":560,"y":200,"wires":[["7895f77d.f6c2a8"]]},{"id":"4727751a.742cbc","type":"server-state-changed","z":"73a37856.6b88c8","name":"Wind Speed","server":"53d23819.50f298","entityidfilter":"sensor.dark_sky_wind_speed","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":110,"y":80,"wires":[["90fa5534.a5d8e8"]]},{"id":"90fa5534.a5d8e8","type":"switch","z":"73a37856.6b88c8","name":"> 20 MPH","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":80,"wires":[["dcbf0eeb.17ba1"]]},{"id":"dcbf0eeb.17ba1","type":"change","z":"73a37856.6b88c8","name":"","rules":[{"t":"set","p":"wind_speed","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[["31363c65.709714"]]},{"id":"6a071821.e83a08","type":"switch","z":"73a37856.6b88c8","name":"Month between 5 and 9","property":"mymonthn","propertyType":"msg","rules":[{"t":"btwn","v":"5","vt":"num","v2":"9","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":160,"wires":[["48d09652.d9e4b8"]]},{"id":"48d09652.d9e4b8","type":"function","z":"73a37856.6b88c8","name":"Format message","func":"const wind_speed = msg.wind_speed;\n\nmsg.payload = 'High wind speed, currently at ' + Math.round(wind_speed) + ' MPH!';\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["b1bc439a.3f8ce","8113e052.4a09f"]]},{"id":"f5897cc7.3d9be","type":"comment","z":"73a37856.6b88c8","name":"High Wind Alert","info":"","x":100,"y":40,"wires":[]},{"id":"e7ed628.04bdea","type":"server-state-changed","z":"5665ccf3.114254","name":"Home Temp","server":"53d23819.50f298","entityidfilter":"sensor.main_floor_temperature","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":110,"y":580,"wires":[["8103d8ce.858b78"]]},{"id":"8103d8ce.858b78","type":"switch","z":"5665ccf3.114254","name":"< 50","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":580,"wires":[["a9e81c5e.b8b7b"]]},{"id":"a9e81c5e.b8b7b","type":"function","z":"5665ccf3.114254","name":"Format message","func":"const temp = msg.payload;\n\nmsg.payload = 'WARNING! House is too cold. Current indoor temp is ' + temp + '!';\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["306c67ce.562548","b49f4169.69d92"]]},{"id":"f582fec2.ea115","type":"comment","z":"5665ccf3.114254","name":"Low Temp Alert","info":"","x":100,"y":520,"wires":[]},{"id":"a74fc58.5321638","type":"server-state-changed","z":"2c67107c.3ec8b","name":"Update Available","server":"53d23819.50f298","entityidfilter":"updater.updater","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":140,"y":540,"wires":[["8bb4354d.2ccee8"]]},{"id":"8bb4354d.2ccee8","type":"function","z":"2c67107c.3ec8b","name":"Format message","func":"const version = msg.payload;\n\nmsg.payload = 'New version ' + version + ' of Home Assistant is available.';\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["f7ff95cd.fce9e8"]]},{"id":"8fa81dd.9e2b0e","type":"comment","z":"2c67107c.3ec8b","name":"Home Assistant Update","info":"","x":140,"y":480,"wires":[]},{"id":"c7cc1e0d.e0c54","type":"comment","z":"3eb84805.5f2958","name":"Kid's Bathroom","info":"","x":100,"y":920,"wires":[]},{"id":"114b403a.85fa9","type":"server-state-changed","z":"3eb84805.5f2958","name":"Kid's Bathroom Motion","server":"53d23819.50f298","entityidfilter":"binary_sensor.kids_bathroom_motion","entityidfiltertype":"exact","outputinitially":false,"haltifstate":"","outputs":1,"x":120,"y":980,"wires":[["3dcb2bd7.5a7214","3df821a6.ba653e"]]},{"id":"3dcb2bd7.5a7214","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":920,"wires":[["83ef66da.7feaf8"],[]]},{"id":"6da5cc82.ddbc74","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn off Kid's Bathroom Light","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kids_bathroom_lights\"}","render_data":false,"mergecontext":"","x":720,"y":1080,"wires":[[]]},{"id":"fc254758.9aeaf8","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Kid's Bathroom Light High","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kids_bathroom_lights\",\"brightness_pct\":85}","render_data":false,"mergecontext":"","x":700,"y":920,"wires":[[]]},{"id":"41649ba2.874c64","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Kid's Bathroom Light Med","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kids_bathroom_lights\",\"brightness_pct\":30}","render_data":false,"mergecontext":"","x":700,"y":960,"wires":[[]]},{"id":"4951d3e8.d7516c","type":"stoptimer","z":"3eb84805.5f2958","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":700,"y":1200,"wires":[["3df821a6.ba653e"],[]]},{"id":"a7bf2f5f.6d07","type":"time-range-switch","z":"3eb84805.5f2958","name":"Day / Night","lat":"","lon":"","startTime":"8:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":390,"y":1040,"wires":[["fc254758.9aeaf8"],["5b800719.a340e8"]]},{"id":"83ef66da.7feaf8","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Light Status","server":"53d23819.50f298","halt_if":"on","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"light.kids_bathroom_lights","outputs":1,"x":420,"y":960,"wires":[["fd95bfd5.c6578"]]},{"id":"21f91a0c.3089e6","type":"api-current-state","z":"3eb84805.5f2958","name":"Humidity Avg Diff","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"sensor.kids_bathroom_humidity_diff_average_diff","outputs":1,"x":290,"y":1260,"wires":[["f60616a8.2a70d8"]]},{"id":"f60616a8.2a70d8","type":"switch","z":"3eb84805.5f2958","name":"< 3%","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"str"},{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1260,"wires":[["6da5cc82.ddbc74"],["4951d3e8.d7516c"]]},{"id":"5b800719.a340e8","type":"time-range-switch","z":"3eb84805.5f2958","name":"Night / Overnight","lat":"","lon":"","startTime":"22:00","endTime":"1:00","startOffset":0,"endOffset":0,"x":410,"y":1080,"wires":[["41649ba2.874c64"],["4cf445c3.9710fc"]]},{"id":"4cf445c3.9710fc","type":"api-call-service","z":"3eb84805.5f2958","name":"Turn on Kid's Bathroom Light Low","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kids_bathroom_lights\",\"brightness_pct\":4}","render_data":false,"mergecontext":"","x":700,"y":1000,"wires":[[]]},{"id":"fd95bfd5.c6578","type":"switch","z":"3eb84805.5f2958","name":"Abort if Light On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1000,"wires":[["a7bf2f5f.6d07"]]},{"id":"1291c748.ce39e9","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":1140,"wires":[[],["1d3ae865.88f788"]]},{"id":"3df821a6.ba653e","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Motion Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.kids_bathroom_motion","outputs":1,"x":260,"y":1140,"wires":[["1291c748.ce39e9"]]},{"id":"1d3ae865.88f788","type":"api-current-state","z":"3eb84805.5f2958","name":"Current Door Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.kids_bathroom_door","outputs":1,"x":280,"y":1200,"wires":[["5c961af9.4cf094"]]},{"id":"5c961af9.4cf094","type":"switch","z":"3eb84805.5f2958","name":"on / off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":1200,"wires":[["21f91a0c.3089e6"],["4951d3e8.d7516c"]]},{"id":"67a0e688.628a88","type":"subflow:5d446e23.e460b","z":"1f49dcf4.505363","x":830,"y":1280,"wires":[[]]},{"id":"31363c65.709714","type":"simpletime","z":"73a37856.6b88c8","name":"","x":630,"y":80,"wires":[["6a071821.e83a08"]]},{"id":"d6e2420c.3ed0b","type":"subflow:5d446e23.e460b","z":"1f49dcf4.505363","name":"","x":570,"y":1120,"wires":[[]]},{"id":"e3a6db09.98cf28","type":"subflow:5d446e23.e460b","z":"732ed9aa.947bd8","name":"","x":810,"y":120,"wires":[[]]},{"id":"ee581f78.1aa16","type":"subflow:5d446e23.e460b","z":"732ed9aa.947bd8","name":"","x":850,"y":260,"wires":[[]]},{"id":"f1a02bf8.cc3268","type":"subflow:5d446e23.e460b","z":"732ed9aa.947bd8","name":"","x":870,"y":400,"wires":[[]]},{"id":"df857b81.1afc08","type":"subflow:5d446e23.e460b","z":"732ed9aa.947bd8","name":"","x":890,"y":560,"wires":[[]]},{"id":"5e9e56e2.178518","type":"subflow:5d446e23.e460b","z":"2c67107c.3ec8b","name":"","x":970,"y":260,"wires":[["17eeb386.b1895c"]]},{"id":"a5195631.1b2a78","type":"subflow:5d446e23.e460b","z":"47a03812.d50eb8","name":"","x":810,"y":380,"wires":[[]]},{"id":"b49f4169.69d92","type":"twilio out","z":"5665ccf3.114254","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":650,"y":600,"wires":[]},{"id":"306c67ce.562548","type":"twilio out","z":"5665ccf3.114254","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":660,"y":560,"wires":[]},{"id":"e0b93c8b.e4182","type":"twilio out","z":"5d446e23.e460b","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":730,"y":100,"wires":[]},{"id":"cd1b9079.874ea","type":"twilio out","z":"5d446e23.e460b","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":740,"y":60,"wires":[]},{"id":"41f1d681.ebead8","type":"function","z":"1f49dcf4.505363","name":"Format message","func":"var user = msg.payload;\n\nmsg.payload = 'Clothes are washed for ' + user;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":920,"wires":[["d6e2420c.3ed0b","87d0f57f.79fa98"]]},{"id":"8f88cc8e.37fa9","type":"switch","z":"1f49dcf4.505363","name":"home / not_home","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":840,"wires":[["5114e1cb.d5879"],["8de214e1.6068b8"]]},{"id":"721d83d0.a74f1c","type":"api-current-state","z":"1f49dcf4.505363","name":"Hailey Presense","server":"53d23819.50f298","halt_if":"","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"device_tracker.hailey","state_type":"str","outputs":1,"x":620,"y":840,"wires":[["8f88cc8e.37fa9"]]},{"id":"8de214e1.6068b8","type":"stoptimer","z":"1f49dcf4.505363","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":640,"y":900,"wires":[["721d83d0.a74f1c"],[]]},{"id":"93c09975.c90e48","type":"twilio out","z":"735ccac0.9545d4","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":870,"y":280,"wires":[]},{"id":"6de571b8.932f4","type":"twilio out","z":"735ccac0.9545d4","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":880,"y":240,"wires":[]},{"id":"c6fa274f.340d78","type":"change","z":"735ccac0.9545d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Back door has been left open.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["6de571b8.932f4","93c09975.c90e48"]]},{"id":"248e20d0.12349","type":"twilio out","z":"735ccac0.9545d4","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":870,"y":120,"wires":[]},{"id":"5b748559.4dc7dc","type":"twilio out","z":"735ccac0.9545d4","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":880,"y":80,"wires":[]},{"id":"23e82ab9.017956","type":"change","z":"735ccac0.9545d4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Front door has been left open.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[["5b748559.4dc7dc","248e20d0.12349"]]},{"id":"6a974df8.00fd14","type":"twilio out","z":"ed851188.a09fb","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":850,"y":140,"wires":[]},{"id":"3b16c195.e05b0e","type":"twilio out","z":"ed851188.a09fb","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":860,"y":100,"wires":[]},{"id":"ff69e55d.d119f8","type":"change","z":"ed851188.a09fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Garage door left open!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":120,"wires":[["3b16c195.e05b0e","6a974df8.00fd14"]]},{"id":"8113e052.4a09f","type":"twilio out","z":"73a37856.6b88c8","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":630,"y":180,"wires":[]},{"id":"b1bc439a.3f8ce","type":"twilio out","z":"73a37856.6b88c8","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":640,"y":140,"wires":[]},{"id":"7a43d883.72b318","type":"twilio out","z":"2c67107c.3ec8b","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+17346202683","name":"Text Rachael","x":970,"y":100,"wires":[]},{"id":"621bc37f.e0e08c","type":"twilio out","z":"2c67107c.3ec8b","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":980,"y":60,"wires":[]},{"id":"44ecd8ba.24b208","type":"change","z":"2c67107c.3ec8b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Guest mode left on.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["621bc37f.e0e08c","7a43d883.72b318"]]},{"id":"f7ff95cd.fce9e8","type":"twilio out","z":"2c67107c.3ec8b","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15173030998","name":"Text Cameron","x":560,"y":540,"wires":[]},{"id":"461f3676.de00e8","type":"twilio out","z":"1f49dcf4.505363","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15174023804","name":"Text Brett","x":1040,"y":920,"wires":[]},{"id":"f454d742.3efd98","type":"change","z":"1f49dcf4.505363","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your clothes are done being washed.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":920,"wires":[["461f3676.de00e8"]]},{"id":"7bdbf4a2.d1d39c","type":"twilio out","z":"1f49dcf4.505363","twilio":"5033ee69.356ab","twilioType":"sms","url":"","number":"+15175051932","name":"Text Hailey","x":1050,"y":780,"wires":[]},{"id":"5114e1cb.d5879","type":"change","z":"1f49dcf4.505363","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Your clothes are done being washed.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":780,"wires":[["7bdbf4a2.d1d39c"]]},{"id":"f05bf46d.7e8f18","type":"bigtimer","z":"f2b2b01a.4c095","outtopic":"","outpayload1":"on","outpayload2":"","name":"On at 7am Christmas Morning","comment":"","lat":"42.7968889","lon":"-84.6119722","starttime":"420","endtime":"720","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":false,"dec":false,"day1":"25","month1":"12","day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":"","month6":"","d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":"","w6":"","xday1":"","xmonth1":"","xday2":"","xmonth2":"","xday3":"","xmonth3":"","xday4":"","xmonth4":"","xday5":"","xmonth5":"","xday6":"","xmonth6":"","xd1":"","xw1":"","xd2":"","xw2":"","xd3":"","xw3":"","xd4":"","xw4":"","xd5":"","xw5":"","xd6":"","xw6":"","suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":170,"y":600,"wires":[["1818de12.d55572","ae0bba72.36ce08"],[],[]]},{"id":"a9185bb7.c5c158","type":"comment","z":"f2b2b01a.4c095","name":"Christmas morning","info":"","x":110,"y":540,"wires":[]},{"id":"1818de12.d55572","type":"api-call-service","z":"f2b2b01a.4c095","name":"Turn on Outdoor Lights - Christmas","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{ \"entity_id\": \"scene.outdoors_christmas\" }","mergecontext":"","x":560,"y":560,"wires":[[]]},{"id":"ae0bba72.36ce08","type":"api-call-service","z":"f2b2b01a.4c095","name":"Turn on Indoor Holiday Lights","server":"53d23819.50f298","service_domain":"scene","service":"turn_on","data":"{\"entity_id\":\"scene.living_room_holiday_lights_on\"}","render_data":false,"mergecontext":"","x":550,"y":600,"wires":[[]]},{"id":"d2159162.f0d23","type":"api-current-state","z":"1f49dcf4.505363","name":"Current Washer Status","server":"53d23819.50f298","halt_if":"","override_topic":true,"override_payload":true,"entity_id":"input_select.washer","outputs":1,"x":560,"y":440,"wires":[["c52f2cc0.f3332"]]},{"id":"c52f2cc0.f3332","type":"switch","z":"1f49dcf4.505363","name":"Idle?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":440,"wires":[["73324732.e576b8"]]},{"id":"73324732.e576b8","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Starting","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washer\",\"option\":\"Starting\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":880,"y":440,"wires":[[]]},{"id":"a3d10a8d.f3c928","type":"api-call-service","z":"1f49dcf4.505363","name":"Set to Idle","server":"53d23819.50f298","service_domain":"input_select","service":"select_option","data":"{\"entity_id\":\"input_select.washer\",\"option\":\"Idle\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":900,"y":300,"wires":[[]]},{"id":"656defa4.76f8a","type":"api-call-service","z":"4bdf444a.f2b29c","name":"Turn on Kitchen Cabinet","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_cabinet\",\"brightness_pct\":45,\"color_temp\":285}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":160,"wires":[[]]},{"id":"1ff5c9a2.b65dd6","type":"api-call-service","z":"4bdf444a.f2b29c","name":"Turn on Hall Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hall_lights\",\"brightness_pct\":50}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":390,"y":220,"wires":[[]]},{"id":"73ed0a72.d4c5a4","type":"api-call-service","z":"4bdf444a.f2b29c","name":"Turn on Living Room Lamp","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.hall_lights\",\"brightness_pct\":45}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":280,"wires":[[]]},{"id":"5758d6f7.b1e648","type":"subflow:4bdf444a.f2b29c","z":"f2b2b01a.4c095","name":"","x":470,"y":80,"wires":[]},{"id":"bc0f01f.f2122","type":"subflow:4bdf444a.f2b29c","z":"29d1a4f6.8693cc","name":"","x":570,"y":420,"wires":[]},{"id":"ef2568cb.115988","type":"api-call-service","z":"bd4e515a.49e17","name":"Turn off Master Bedroom Lamp","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.master_bed_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":650,"y":180,"wires":[[]]},{"id":"780ab976.cd37b8","type":"api-call-service","z":"bd4e515a.49e17","name":"Turn off Stair Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.stairs\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":610,"y":220,"wires":[[]]},{"id":"5c0da4.3d2ab25c","type":"api-call-service","z":"ff30c48f.6f9e18","name":"Turn on Kitchen Cabinet - dim","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.kitchen_cabinet\",\"brightness_pct\":20,\"color_temp\":285}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":770,"y":60,"wires":[[]]},{"id":"657b812a.39da1","type":"api-call-service","z":"ff30c48f.6f9e18","name":"Turn off Kitchen Cabinet","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_cabinet\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":790,"y":220,"wires":[[]]},{"id":"37104f30.5e4e9","type":"api-call-service","z":"ff30c48f.6f9e18","name":"Turn off Kitchen Ceiling","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":790,"y":260,"wires":[[]]},{"id":"b7b01de0.e4c06","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn on Loft Lights - dim","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.loft_lights\",\"brightness_pct\":1}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":790,"y":60,"wires":[[]]},{"id":"7895f77d.f6c2a8","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn on Loft Lights - dim","server":"53d23819.50f298","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.loft_lights\",\"brightness_pct\":1}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":790,"y":200,"wires":[[]]},{"id":"83398d70.e48c8","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn off Loft Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.loft_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":240,"wires":[[]]},{"id":"408daa81.10bff4","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn off Stair Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.stairs\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":280,"wires":[[]]},{"id":"b82f788c.df8128","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn off Loft Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.loft_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":100,"wires":[[]]},{"id":"c85e98d0.df6f78","type":"api-call-service","z":"97d8f6bb.b25968","name":"Turn off Stair Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.stairs\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":140,"wires":[[]]},{"id":"c0056b13.3e5cf8","type":"api-call-service","z":"a26ae1a4.9409","name":"Turn off Living Room Lamp","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.livingroom_lamp\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":120,"wires":[[]]},{"id":"be3d9c43.a7e4b","type":"api-call-service","z":"a26ae1a4.9409","name":"Turn off Living Room Ceiling","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.living_room_ceiling\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":420,"y":160,"wires":[[]]},{"id":"95365844.0b74b8","type":"api-call-service","z":"a26ae1a4.9409","name":"Turn off Kitchen Ceiling","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.kitchen_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":410,"y":200,"wires":[[]]},{"id":"20b9f618.43956a","type":"api-call-service","z":"a26ae1a4.9409","name":"Turn off Breakfast Bar","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.breakfast_bar_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":400,"y":240,"wires":[[]]},{"id":"e59f9ea0.3b34d","type":"api-call-service","z":"a26ae1a4.9409","name":"Turn off Hall Lights","server":"53d23819.50f298","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.hall_lights\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":390,"y":280,"wires":[[]]},{"id":"7123a5a.67e0e5c","type":"subflow:a26ae1a4.9409","z":"a62e79d6.a8c258","name":"","x":850,"y":100,"wires":[]},{"id":"ab30db0e.a97c08","type":"api-current-state","z":"29d1a4f6.8693cc","name":"Front Door Lock Status","server":"53d23819.50f298","halt_if":"locked","halt_if_type":"","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"lock.front_door_lock","state_type":"str","outputs":2,"x":870,"y":380,"wires":[["c7b08af8.a32ce8"],[]]},{"id":"4f0b971f.a5a738","type":"stoptimer","z":"29d1a4f6.8693cc","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":990,"y":320,"wires":[["ab30db0e.a97c08"],[]]},{"id":"3575f352.9e7f8c","type":"cast-to-client","z":"97ad0127.f1ef9","name":"Downstairs","url":"","contentType":"","message":"","language":"en","ip":"downstairs.gh","port":"","volume":"","x":610,"y":560,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"87d0f57f.79fa98","type":"cast-to-client","z":"1f49dcf4.505363","name":"Downstairs","url":"","contentType":"","message":"","language":"en","ip":"downstairs.gh","port":"","volume":"","x":570,"y":1080,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"1cfdac7a.ead324","type":"cast-to-client","z":"1f49dcf4.505363","name":"Brett","url":"","contentType":"","message":"Your clothes are done being washed.","language":"en","ip":"brett.gh","port":"","volume":"","x":590,"y":940,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"ae2fdfa4.a0d0c","type":"cast-to-client","z":"1f49dcf4.505363","name":"Hailey","url":"","contentType":"","message":"Your clothes are done being washed.","language":"en","ip":"hailey.gh","port":"","volume":"","x":590,"y":800,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"2fbc8e9b.b45ea2","type":"cast-to-client","z":"29d1a4f6.8693cc","name":"Downstairs","url":"","contentType":"audio/mp3","message":"","language":"en","ip":"downstairs.gh","port":"","volume":"","x":1190,"y":540,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"4afbc619.423138","type":"polly","z":"c1d6c8de.775168","name":"","voice":"0","ssml":true,"dir":"/tmp","config":"dbd63890.678588","x":390,"y":360,"wires":[["3b4e47ee.6e3398"],[]]},{"id":"bfdbd260.f5d91","type":"inject","z":"6c03ac05.d4c604","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":360,"wires":[["36cae988.9e4396"]]},{"id":"36cae988.9e4396","type":"template","z":"6c03ac05.d4c604","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n    I want to tell you a secret. \n    <amazon:effect name=\"whispered\">I am not a real human.</amazon:effect>.\n    Can you believe it?\n</speak>\n","output":"str","x":240,"y":360,"wires":[["11b9894d.ce7fc7"]]},{"id":"bbc9c51a.6eb968","type":"cast-to-client","z":"6c03ac05.d4c604","name":"Downstairs","url":"","contentType":"audio/mp3","message":"","language":"en","ip":"downstairs.gh","port":"","volume":"","x":850,"y":360,"wires":[[]],"icon":"node-red-contrib-cast/google-home1.svg"},{"id":"4b15f564.0b541c","type":"http response","z":"6c03ac05.d4c604","name":"","statusCode":"","headers":{},"x":590,"y":100,"wires":[]},{"id":"5f42435f.dcd46c","type":"http in","z":"6c03ac05.d4c604","name":"","url":"/polly","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["4cf4d438.b38acc"]]},{"id":"cdf33f67.90612","type":"file in","z":"6c03ac05.d4c604","name":"file","filename":"","format":"","chunk":false,"sendError":false,"x":430,"y":100,"wires":[["4b15f564.0b541c"]]},{"id":"4cf4d438.b38acc","type":"template","z":"6c03ac05.d4c604","name":"","field":"filename","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"/tmp/{{ payload.file }}","output":"str","x":280,"y":100,"wires":[["cdf33f67.90612"]]},{"id":"3b4e47ee.6e3398","type":"string","z":"c1d6c8de.775168","name":"","methods":[{"name":"chompLeft","params":[{"type":"str","value":"/tmp/"}]}],"prop":"file","propout":"filename","object":"msg","objectout":"msg","x":530,"y":360,"wires":[["6fd67fa.2cc708"]]},{"id":"6fd67fa.2cc708","type":"template","z":"c1d6c8de.775168","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://node-red.bulock.house/polly?file={{ filename }}","output":"str","x":680,"y":360,"wires":[[]]},{"id":"b83c30f4.897ab","type":"comment","z":"6c03ac05.d4c604","name":"Web Server for Polly MP3's","info":"","x":160,"y":60,"wires":[]},{"id":"11b9894d.ce7fc7","type":"subflow:c1d6c8de.775168","z":"6c03ac05.d4c604","name":"","x":420,"y":360,"wires":[["bbc9c51a.6eb968"]]},{"id":"f49084ca.c47fe8","type":"template","z":"29d1a4f6.8693cc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<speak>\n    Welcome <prosody pitch=\"high\" rate=\"slow\">home</prosody> {{ user }}.\n</speak>","output":"str","x":880,"y":540,"wires":[["11657f3f.ffa691"]]},{"id":"11657f3f.ffa691","type":"subflow:c1d6c8de.775168","z":"29d1a4f6.8693cc","name":"","x":1030,"y":540,"wires":[["2fbc8e9b.b45ea2"]]}]